
.style0{
		fill:	#FFFFFF;
	}
	.style1{
		fill:	#3A84C5;

	}

	.style1:hover{
		fill: #ffd03b;
	}

	.style10{
		stroke-linejoin:	round;
		stroke:	#373737;
		stroke-linecap:	square;
		stroke-dasharray:	12;
		stroke-miterlimit:	10;
		stroke-width:	2;
		fill:	none;
	}


	.style11{
		stroke:	#373737;
		stroke-miterlimit:	10;
		fill:	#FAFBFB;
	}


	.style12{
		stroke:	#373737;
		stroke-width:	0.5;
		stroke-miterlimit:	10;
		fill:	none;
	}
	.style13{
		stroke:	#373737;
		stroke-width:	0.3;
		stroke-miterlimit:	10;
		fill:	none;
	}
	.style14{
		fill:	#373737;
	}
	.style15{
		stroke:	#373737;
		stroke-miterlimit:	10;
		fill:	none;
	}
	.style16{
		stroke:	#373737;
		stroke-width:	0.2;
		stroke-miterlimit:	10;
		fill:	none;
	}
	.style17{
		stroke-width:	0.5;
		stroke:	#3A84C5;
		stroke-linecap:	square;
		stroke-miterlimit:	10;
		fill:	none;
	}
	.style18{
		stroke:	#3A84C5;
		stroke-miterlimit:	10;
		fill:	none;
	}
	.style19{
		stroke:	#3A84C5;
		stroke-width:	3;
		stroke-miterlimit:	10;
		fill:	none;
	}
	.style2{
		fill:	none;
	}
	.style20{
		fill:	#FFFFFF;
	}
	.style3{
		font-size:	11;
		font-family:	'Lato-Regular';
		fill:	#FAFBFB;
	}
	.style4{
		font-size:	9;
		font-family:	'DroidSans';
		fill:	#FAFBFB;
	}
	.style5{
		stroke:	#9AC3DC;
		stroke-width:	3;
		stroke-miterlimit:	10;
		fill:	#9AC3DD;
	}
	.style6{
		stroke:	#FAFBFB;
		stroke-width:	2;
		stroke-miterlimit:	10;
		fill:	none;
	}
	.style7{
		stroke:	#FAFBFB;
		stroke-width:	6;
		stroke-miterlimit:	10;
		fill:	none;
	}
	.style8{
		stroke:	#373737;
		stroke-width:	2;
		stroke-miterlimit:	10;
		fill:	none;
	}
	.style9{
		stroke-linejoin:	round;
		stroke:	#373737;
		stroke-miterlimit:	10;
		stroke-dasharray:	12;
		stroke-width:	2;
		fill:	none;
	}

 }
















