@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic&subset=latin,latin-ext);

*{
	font-family: "lato",sans-serif;
}

.request-booking-page{
	width: 100%;

}

.request-container-top{
    width: 100%;
    height: 100px;
}

.request-container-top h4{
	letter-spacing: 2px;
	padding-top: 40px;
	font-family: "Lato",sans-serif;
	font-weight: 700;
	font-size: 15px;
	text-transform: uppercase;
	text-align: center;
	color: #565656;
}

@media only screen and (min-width: 1002px){
.request-booking-container{
	width: 1000px;
	margin: auto;
	border: 1px solid #3984c7;
	position: relative;
	background-color: #fff;
}
}

@media only screen and (min-width: 700px) and (max-width: 1001px){
.request-booking-container{
	width: 90%;
	margin: auto;
	border: 1px solid #3984c7;
	position: relative;
	background-color: #fff;
}
}

@media only screen and (max-width: 699px){
.request-booking-container{
	display: none;
}
}


.request-booking-container p{
	font-family: "Open Sans",sans-serif;
	font-size: 16px;
}

@media only screen and (min-width: 700px){
.rb-name{
	width: 100%;
	height: 40px;
	margin-top: 25px;
}
}

@media only screen and (max-width: 699px){
.rb-name{
	width: 200px;
	height: 40px;
	margin: auto;
	margin-bottom: 55px;
	margin-top: 20px;
}
}

@media only screen and (min-width: 700px){
.rb-contact{
	width: 100%;
	height: 40px;
}
}

@media only screen and (max-width: 699px){
.rb-contact{
	width: 200px;
	height: 60px;
	margin: auto;
	margin-bottom: 55px;
}
}

@media only screen and (min-width: 700px){
.rb-travel{
	/*width: 100%;*/
	height: 40px;
}
}

@media only screen and (max-width: 699px){
.rb-travel{
	width: 255px;;
	height: 40px;
	margin: auto;
	margin-bottom: 50px;
}
}

@media only screen and (min-width: 700px){
.rb-time{
	width: 100%;
	height: 40px;
}
}

@media only screen and (max-width: 699px){
.rb-time{
	width: 255px;
	height: 40px;
	margin: auto;
	margin-bottom: 80px;
}
}

@media only screen and (min-width: 700px){
.rb-lokafyer{
	width: 100%;
	height: 60px;
	overflow: hidden;
	position: relative;
	z-index: 100;
}
}

@media only screen and (max-width: 699px){
.rb-lokafyer{
	width: 255px;
	overflow: hidden;
	position: relative;
	z-index: 100;
	margin: auto;
	margin-top: 10px;
}
}

.highlights{
	width: 100%;
	height: 60px;
	position: absolute;
	top: 232px;
	z-index: 99;
	background-color: #f5f5f5;
}

@media only screen and (min-width: 700px){
.rb-lokafyer-1{
	width: 60px;
	height: 60px;
	background-size: 60px 60px;
	position: relative;
	margin-right: 5px;
}
}

@media only screen and (max-width: 699px){
.rb-lokafyer-1{
	width: 60px;
	height: 60px;
	background-size: 60px 60px;
	position: relative;
	margin-right: 5px;
}
}



@media only screen and (min-width: 700px){
.rb-discover{
	width: 100%;
	height: 40px;
	margin-top: -3px;
}
}

@media only screen and (max-width: 699px){
.rb-discover{
	width: 255px;
	height: 40px;
	margin: auto;
	margin-bottom: 45px;
}
}

@media only screen and (min-width: 700px){
.rb-referral{
	width: 100%;
	height: 40px;
	margin-top: -3px;
}
}

@media only screen and (max-width: 699px){
.rb-referral{
	width: 255px;
	height: 40px;
	margin: auto;
	margin-bottom: 10px;
}
}

.rb-textarea{
	width: 100%;
}

@media only screen and (min-width: 700px){
.rb-about{
	width: 45%;
	height: 256px;
	float: left;
}
}

@media only screen and (max-width: 699px){
.rb-about{
	width: 255px;
	height: 230px;
	margin: auto;
}
}

@media only screen and (min-width: 700px){
.rb-show{
	width: 45%;
	height: 256px;
	float: right;
}
}

@media only screen and (max-width: 699px){
.rb-show{
	width: 255px;
	height: 256px;
	margin: auto;

}
}

@media only screen and (min-width: 700px){
form{
	width: 94%;
	height: 632px;
	margin: auto;
}
}

@media only screen and (max-width: 699px){
form{
	width: 96%;
	margin: auto;
}
}

form p{
	color: #111;
	font-size: 1em;
	/*margin: 15px;*/
}

form .rb-name input{
	width: 200px;
	border: medium none;
	border-bottom: 1px solid #3984c7;
}

form .rb-contact input{
	width: 200px;
	border: medium none;
	border-bottom: 1px solid #3984c7;
}

@media only screen and (min-width: 700px){
form .rb-travel input{
	width: 50px;
	border: medium none;
	border-bottom: 1px solid #3984c7;
}
}

@media only screen and (max-width: 699px){
form .rb-travel input{
	width: 25px;
	border: medium none;
	border-bottom: 1px solid #3984c7;
}
}

@media only screen and (min-width: 700px){
form .rb-time input{
	width: 50px;
	border: medium none;
	border-bottom: 1px solid #3984c7;
}
}

@media only screen and (max-width: 699px){
form .rb-time input{
	width: 25px;
	border: medium none;
	border-bottom: 1px solid #3984c7;
}
}

form .rb-discover input{
	width: 250px;
	border: medium none;
	border-bottom: 1px solid #3984c7;
}

form .rb-referral input{
	width: 100px;
	border: medium none;
	border-bottom: 1px solid #3984c7;
}

@media only screen and (min-width: 700px){
form textarea{
	width: 100%;
	height: 140px;
	margin-top: 10px;
	border: 1px solid #3984c7;
	resize: none;
	letter-spacing: 2px;
	font-family: "Lato",sans-serif;
	font-weight: 300;
	font-size: 15px;
	text-align: left;
	color: #111;
}
}

@media only screen and (max-width: 699px){
form textarea{
	width: 253px;
	height: 140px;
	margin-top: 10px;
	border: 1px solid #3984c7;
	resize: none;
	letter-spacing: 2px;
	font-family: "Lato",sans-serif;
	font-weight: 300;
	font-size: 15px;
	text-align: left;
	color: #111;
}
}



.rb-menu-1 select:active, select:hover{
	outline: none;
}

.rb-menu-2{
  width: 135px;
  height: 25px;
  position: absolute;
  top: 193px;
  left: 331px;
  z-index: 101;
  background-image: url('../images/icon/menu-icon-2.png');
}

.rb-menu-2 select{
	width: 135px;
	height: 25px;
	background: transparent;
	cursor: pointer;
	z-index: 101;
	border: none;
	outline: none;
	  font-family: "Lato",sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 25px;
  text-transform: uppercase;
  color: #111;
  text-align: center;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.rb-menu-2 select option{
	width: 125px;
	height: 25px;
	text-align: center;
  letter-spacing: 2px;
  font-family: "Lato",sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 25px;
  text-transform: uppercase;
  color: #111;
  background-color: #f5f5f5;

}

.rb-menu-2 select:active, select:hover{
	outline: none;
}

.rb-submit{
	width: 100%;
	height: 100px;
	margin: auto;
}


.rb-submit p{
	font-family: "Open Sans",sans-serif;
	font-size: 16px;
	line-height: 80px;
}


@media only screen and (min-width: 700px){
.rb-cost{
	width: 150px;
	height: 65px;
	margin-left: 30px;
	float: left;
}
}

@media only screen and (max-width: 699px){
.rb-cost{
	width: 150px;
	height: 65px;
	margin: auto;
}
}

@media only screen and (min-width: 700px){
.rb-submit-1{
	width: 200px;
	height: 48px;
	background-color: #3984c7;
	border-radius: 0.1;
	float: right;
	margin-top: 25px;
	margin-left: 30px;
		text-align: center;
  letter-spacing: 2px;
  font-family: "Lato",sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 25px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  outline: none;
}
}

@media only screen and (max-width: 699px){
.rb-submit-1{
	width: 200px;
	height: 48px;
	background-color: #3984c7;
	border-radius: 0.1;
	margin-top: 25px;
		text-align: center;
  letter-spacing: 2px;
  font-family: "Lato",sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 25px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  outline: none;
  margin: auto;
  margin-bottom: 10px;

}
}

@media only screen and (min-width: 700px){
.rb-submit-2{
	width: 200px;
	height: 48px;
	background-color: #f5f5f5;
	border-radius: 0.1;
	float: right;
	margin-top: 25px;
		text-align: center;
  letter-spacing: 2px;
  font-family: "Lato",sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 25px;
  text-transform: uppercase;
  color: #111;
    border: none;
  outline: none;
}
}

@media only screen and (max-width: 699px){
.rb-submit-2{
	width: 200px;
	height: 48px;
	background-color: #f5f5f5;
	border-radius: 0.1;
	margin-top: 25px;
		text-align: center;
  letter-spacing: 2px;
  font-family: "Lato",sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 25px;
  text-transform: uppercase;
  color: #111;
    border: none;
  outline: none;
    margin: auto;
    margin-bottom: 80px;
}
}

@media only screen and (min-width: 1002px){
.container-bottom{
	width: 1000px;
	margin: auto;
	margin-top: 10px;
}
}

@media only screen and (min-width: 700px) and (max-width: 1001px){
.container-bottom{
	width: 90%;
	margin: auto;
	margin-top: 10px;
}
}

@media only screen and (max-width: 699px){
.container-bottom{
	width: 200px;
	margin: auto;
	margin-top: 10px;
}
}

::-webkit-input-placeholder {
   color: #555555;
   font-size: 15px;

}

:-moz-placeholder { /* Firefox 18- */
   color: #555555;
   font-size: 15px;

}

::-moz-placeholder {  /* Firefox 19+ */
   color: #555555;
   font-size: 15px;

}

:-ms-input-placeholder {  
   color: #555555;
   font-size: 15px;
}

@media only screen and (min-width: 700px){
.request-booking-container-mobile{
	display: none;
}
}

@media only screen and (max-width: 699px){
.request-booking-container-mobile{
	width: 100%;
	margin: auto;
	border-top: 1px solid #3984c7;
	border-bottom: 1px solid #3984c7;
	position: relative;
	background-color: #fff;

}

.request-booking-container-mobile p{
	font-family: "Open Sans",sans-serif;
	font-size: 15px;
}
}


.group-size{
	display:inline-block;
}

















