@import url('css/normalize.css');

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic&subset=latin,latin-ext);
@import url("colors/color.css");

body{
	font-family: "Lato",sans-serif;
	background: #fff url(../images/pattern.png) repeat top left;
	font-weight: 400;
	font-size: 12px;
	
	overflow-y: hidden;
	overflow-x: hidden;
}

.hs-menu{
	position: fixed;
	z-index: 100;
	width: 25%;
	left: 0px;
	top: 77px;
	height: 100vh;
}
.hs-menu nav{
	position: absolute;
	top: 10vh;
	left: 0px;
	right: 0px;
	bottom: 50px;
}
.hs-menu nav a{
	display: block;
	padding: 10px 20px;
	text-align: center;
	outline: none;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
}
.hs-menu nav a:active{
	
}

.hs-menu nav a span:nth-child(2){
	display: block;
	color: #fff;
	font-style: italic;
	font-weight: 400;
	text-transform: none;
	padding-top: 3px;
}
.hs-content-scroller{
	position: absolute;
	left: 25%;
	right: 0px;
	overflow: hidden;
	height: 100vh;
}
.hs-content-wrapper{
	width: 2400px;
	position: absolute;
	height: 100vh;
	overflow: hidden;
}
.hs-content{
	width: 600px;
	overflow-y: scroll;
	height: 100vh;
	float: left;
	border-right: 1px dashed #A9BECD;
	border-left: 1px dashed #A9BECD;
	border-right: 1px dashed rgba(126, 126, 126, 0.2);
	border-left: 1px dashed rgba(255, 255, 255, 0.5);
	background: #fff;
	-webkit-transition: background 0.3s linear;
	-moz-transition: background 0.3s linear;
	-o-transition: background 0.3s linear;
	-ms-transition: background 0.3s linear;
	transition: background 0.3s linear;
}
.hs-content:hover, .hs-content-active{
	background: #f5f5f5;
}
.hs-content:hover .jspVerticalBar,
.hs-menu nav:hover .jspVerticalBar{
	opacity: 1;
}
.hs-content:first-child{
	width: 400px;
}
.hs-inner{
	padding: 30px 20px 10px 30px;
}
.hs-inner p{
	font-size: 18px;
	line-height: 24px;
	text-align: justify;
	position: relative;
	padding: 10px 0px;
	text-shadow: 1px 0px 1px rgba(255, 255, 255, 0.8);
}
.hs-inner p:first-letter{
	font-size: 28px;
}
#introduction .hs-inner p:first-of-type{
	font-size: 24px;
	text-align: left;
	line-height: 36px;
	font-style: italic;
	color: #75838D;
	letter-spacing: 0px;
}
a.hs-totop-link{
	display: none;
	content: 'Scroll to top';
	position: fixed;
	z-index: 10000;
	bottom: 0px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #aaa;
	text-shadow: 1px 1px 1px #fff;
	font-weight: 700;
	cursor: pointer;
	text-transform: uppercase;
	text-align: center;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C */
	border-top: 1px solid #cacaca;
}
/* Codrops Top Bar */
.codrops-top{
	font-size: 10px;
	text-transform: uppercase;
}
.codrops-top a{
	position: fixed;
	z-index: 10000;
	padding: 4px 7px;
	letter-spacing: 1px;
	color: #aaa;
	text-shadow: 0px 1px 1px #fff;
	background: rgba(255, 255, 255, 1);
	border-radius: 0px 0px 3px 3px;
}
.codrops-top a:nth-child(1){
	right: auto;
	left: 210px;
}
.codrops-top a:nth-child(2){
	right: 10px;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
	.jspVerticalBar{
		opacity: 1;
	}
	.hs-content-scroller{
		overflow-x: scroll;
	}
	.hs-content:hover{
		background: transparent;
	}
	.hs-content-active:hover {
		background: #f1f5f8;
	}
}
@media screen and (max-width: 715px) {
	body{
		overflow-x: auto;
		overflow-y: auto;
	}
	.codrops-top a{
		background: #000;
		color: #fff;
		text-shadow: none;
	}
	.codrops-top a:nth-child(1){
		left: 10px;
	}
	a.hs-totop-link{
		display: block;
	}
	.hs-menu{
		position: relative;
		width: 100%;
		height: 460px;
	}
	.hs-menu nav{
		top: 230px;
		bottom: 20px;
	}
	.hs-content-scroller{
		position: relative;
		height: auto;
		left: 0;
	}
	.hs-content-wrapper{
		height: auto;
		width: auto;
		margin-left: 0px;
	}
	.hs-content{
		border: none;
	}
	.hs-content, .hs-content:first-child{
		width: auto;
		float: none;
		overflow-y: auto;
	}
}

.top-space{
	height: 77px;
}





















