
<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]>
<!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

	<!-- Basic Page Needs
================================================== -->
	<meta charset="utf-8">
	<title>We Bridge the Gap between Travelers and Locals - Lokafy</title>
	<meta name="description" content="Lokafy Website">
	<meta name="author" content="Qing Li">
	<meta name="keyword" content="travel, tour, local, toronto, paris">


	<!-- Mobile Specific Metas
================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- CSS
================================================== -->
{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static "css/request-booking.css"%}"/>

      <link rel="stylesheet" href="{% static "css/pikaday.css"%}">

      	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		
	<!-- Favicons
================================================== -->
	<link rel="shortcut icon" href="{% static "images/icon/favicon.png"%}">
	<link rel="apple-touch-icon" href="images/icon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/icon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/icon/apple-touch-icon-114x114.png">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script src="../../../static/js/pikaday.js"></script>
  <script src="../../../static/js/angular-stripe-checkout.min.js"></script>

	<script>
    angular.module('BookingApp', ["stripe.checkout"])
    .controller('BookingController', ['$scope', '$http', '$window', function($scope, $http, $window) {
      $scope.city = '{{city}}';
      $scope.missingFields = false;
      $scope.missingField = '';
      $scope.invalidField = '';
      $scope.submitFailure = false;
      $scope.submitSuccess = false;
      $scope.total = 0;
      $scope.hourlyRate = 45;
      $scope.contactForm = {};
      $scope.invalidField = '';
      $scope.requestData = {
        first_name: '',
        last_name: '',
        email: '',
        group_size: 0,
        group_type: '',
        durations: 2,
        time_of_day: '',
        date: '',
        destination: sessionStorage.getItem('destination'),
        about: '',
        source:'',
        whattoshow: '',
        referral:'',
        comment:'None'
      };
      $scope.groupTypeOptions = [
      { name: '', value: '' }, 
      { name: 'solo', value: 'solo'}, 
      { name: 'with family', value: 'family' },
      { name: 'with friends', value: 'friends' },
      { name: 'with colleagues', value: 'colleagues' },
      { name: 'with my lover', value: 'lovers' }
      ];
      $scope.chosenLokafyers = sessionStorage.getItem('chosenLokafyers').split(',');
      console.log(sessionStorage.getItem('chosenLokafyers'));
      console.log(sessionStorage.getItem('destination'));
      $scope.update_cost = function () {

        console.log($scope.requestData.group_type);

        if ($scope.requestData.group_type == "solo"){
          console.log('inside solo');
          $scope.requestData.group_size=1;
          $scope.total = 25 * $scope.requestData.durations * $scope.requestData.group_size;
        } else if ($scope.requestData.group_type == "lovers"){
          $scope.requestData.group_size=2;
          $scope.total = 15 * $scope.requestData.durations * $scope.requestData.group_size;
        }
      }; 
      $scope.$watch('requestData', function (newValue, oldValue) {
        if (parseInt($scope.requestData.durations, 10)) {
          if ($scope.requestData.group_type == "solo"){
            $scope.total = 25 * $scope.requestData.durations * $scope.requestData.group_size;
          } else {
            $scope.total = 15 * $scope.requestData.durations * $scope.requestData.group_size;
          }
        } else {
          $scope.requestData.durations = '';
        }
      }, true); 

      $scope.validateBeforeStripe = function (){
        valid = $scope.validateSubmission();
        if (valid!=true) {
          $('.overlayView.active').remove();
          $('iframe').remove();
          $('#submitModal2').modal('show');
        } else{
          angular.element('#checkout').trigger('click');
        }
      };

      $scope.requestBooking = function (token) {
         valid = $scope.validateSubmission();
         console.log($scope.missingField);
         console.log(token)
         if (valid) {
          console.log($scope.requestData.date);
          $scope.requestData.lokafyers = $scope.chosenLokafyers;
          $scope.requestData.total = $scope.total;
          if (token !== undefined){
            console.log('token is no undefined now.')
            $scope.requestData.stripeToken = token.id;
          } else{
            console.log('settting to undefiend');
            token = undefined;
          }
          console.log('before post');
          $http.post('../../../api/booking/request', $scope.requestData).
           then(function(data){
             console.log('Request sent successfully!');
             console.log(data);
           }).catch(function(err){
             $('#submitModalFail').modal('show');
             console.log("Error");
             console.log(err);
           });
        }
      }

      var emailRegex = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
      $scope.validateSubmission = function () {
        $scope.missingField = '';

        // console.log($scope.booking);
        
        if ($scope.requestData.first_name === undefined || $scope.requestData.first_name === ''){
          $scope.missingField = 'your first name';
          return;
        }

        if ($scope.requestData.last_name === undefined || $scope.requestData.last_name === '') {
          $scope.missingField = 'your last name';
          return;
        }

        if ($scope.requestData.email === '') {
          $scope.missingField = 'your email';
          return;
        }

        var validEmail = emailRegex.test($scope.requestData.email);
        if (!validEmail){
          console.log('unvalid email!!')
          $scope.missingField = 'a valid email';
          return;
        }

        if ($scope.requestData.group_type === '' || $scope.requestData.group_type === undefined){
          $scope.missingField = 'group type';
          return;
        }

        if ($scope.requestData.group_type !== undefined && $scope.requestData.group_type !== 'solo' && $scope.requestData.group_type !== 'lovers') {
          if ($scope.requestData.group_size === undefined || $scope.requestData.group_size === '') {
            $scope.missingField = 'group size';
            return;
          }
        }


        if ($scope.requestData.time_of_day === undefined || $scope.requestData.time_of_day === ''){
          $scope.missingField = 'a time of day';
          return;
        }

        if ($scope.requestData.about === undefined || $scope.requestData.about === '') {
          $scope.missingField = 'a little about yourself'
        }

        if ($scope.requestData.date === undefined || $scope.requestData.date === '') {
          $scope.missingField = 'a date'
        }

        return true;
      }

      // $scope.submitForm = function() {
      //   $scope.missingFields = false;
      //   $scope.invalidEmail = false;
      //   $scope.submitFailure = false;
      //   $scope.submitSuccess = false;
      //   if ($scope.contactForm.name == undefined || $scope.contactForm.email == undefined || $scope.contactForm.phone == undefined || $scope.contactForm.message == undefined) {
      //     $scope.missingFields = true;
      //     return;
      //   }
        
      //   var validEmail = emailRegex.test($scope.contactForm.email);
      //   if (!validEmail){
      //     $scope.invalidEmail = true;
      //     return;
      //   } 
      // }

    }]);
  </script>

</head>

<body ng-app="BookingApp" ng-controller="BookingController">	
  {% verbatim %}
  <div class="request-booking-page">
      
    <div class="request-container-top"><h4>Request {{city}} Booking</h4></div>
    <div class="request-booking-container-mobile">
      <form>
        <div class="rb-lokafyer">
          Selected Lokafyers: 
         <img class="rb-lokafyer-1" ng-repeat="lokafyerID in chosenLokafyers" ng-if="lokafyerID!=''" ng-src="{{'/static/images/lokafyers/' + lokafyerID + '.jpg'}}"> 
          </img>
        </div>
      <div class="rb-name">
        <input type="text" name="first-name" id="first-name" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;First Name" ng-model="requestData.first_name" class="required">
        <br>
        <span ng-show="missingField != '' && !requestData.first_name" style='color:#DC143C;' >Please enter your first name.</span>
        <br>
        <input type="text" name="last-name" id="last-name" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last Name" ng-model= "requestData.last_name" class="required">
        <br>
        <span ng-show="missingField != '' && !requestData.last_name" style='color:#DC143C;' >Please enter your last name.</span>   
      </div>

      <div class="rb-contact">
       <input type="text" name="email" id="email" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email Address" ng-model = "requestData.email" class="required">
       <br><br>
       <input type="text" name="cell" id="cell" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mobile Number" class="required" ng-model="requestData.mobile_no">
      <br>
      <span ng-show="missingField != '' && !requestData.email" style='color:#DC143C;' >Please enter an email address.<br><br><br><br></span>  
      <span ng-show="missingField == 'a valid email' && requestData.email" style='color:#DC143C;' >Please enter an valid email address.</span> 
      </div>

      <div class="rb-travel">
        <p>I am travelling&nbsp;&nbsp;<select name="travel" class="ui dropdown" id="select" ng-model="requestData.group_type" required ng-options='option.value as option.name for option in groupTypeOptions' ng-change="update_cost()">
        </select>&nbsp;</p> 
        <p ng-show="requestData.group_type && requestData.group_type != 'lovers' && requestData.group_type != 'solo' ">There are <input type="number" name="people" id="people" min='1' placeholder="      #" ng-model="requestData.group_size">people in my group.</p> <span ng-show="missingField != '' && !requestData.group_size" style='color:#DC143C;' >Please enter a group size.</span>
      </div>
      <div class="rb-time" ng-show="requestData.group_type">
         <p><span ng-show=" !requestData.group_type || requestData.group_type === 'solo'">I</span><span ng-show="requestData.group_type && (requestData.group_type !== 'solo')">We</span> would like a tour for&nbsp;&nbsp;<input type="number" name="hour" id="hour" min='2' placeholder="&nbsp;&nbsp;#" class="required" ng-model="requestData.durations"></p>
          <p>in the&nbsp;&nbsp;<select name="city" class="ui dropdown" id="select" ng-model="requestData.time_of_day">
          <option value=""></option>
          <option value="toronto">morning</option>
          <option value="paris">afternoon</option>
          <option value="paris">evening</option>
        </select></p><p>on&nbsp;<input type='text' style='width:80px;' id='mobile_datepicker' ng-model="requestData.date" required="required"/> </p>
        <span ng-show="missingField != '' && !requestData.durations" style='color:#DC143C;' >Please enter a tour duration.</span>
        <span ng-show="missingField != '' && !requestData.time_of_day && requestData.durations" style='color:#DC143C;' >Please enter a time of day.</span>
        <span ng-show="missingField != '' && !requestData.date && requestData.time_of_day && requestData.durations" style='color:#DC143C;' >Please enter a date.</span>
      </div>

      <div class="rb-discover" ng-show="requestData.group_type"><p>How did you discover Lokafy?<br><input type="text" name="discover" id="dicover" placeholder="" class="required" ng-model="requestData.source"></p></div>

      <div class="rb-referral" ng-show="requestData.group_type"><p>Referral Code:&nbsp;<input type="text" name="referral" id="referral" placeholder=""  ng-model="requestData.referral" class="required"></p></div>

      <div class="rb-textarea" ng-show="requestData.group_type">
        <div class="rb-about">
        <p>About <span ng-show=" !requestData.group_type || requestData.group_type === 'solo'">me</span><span ng-show="requestData.group_type && (requestData.group_type !== 'solo')">us</span>:<br><textarea ng-model="requestData.about" name="aboutme" id="aboutme" class="required"></textarea></p> <span ng-show="missingField != '' && !requestData.about" style='color:#DC143C;' >Please enter a little about yourself.</span> 
        </div>

        <div class="rb-show">
          <p><span ng-show=" !requestData.group_type || requestData.group_type === 'solo'">I</span><span ng-show="requestData.group_type && (requestData.group_type !== 'solo')">We</span>'d like the Lokafyer to show me:<br><textarea ng-model="requestData.whattoshow" name="showme" id="showme" class="required"></textarea></p>
        </div>
      </div>
     

      </form>
    </div>
    <div class="request-booking-container" style="height:250px;">  

             <form >
              <div class="rb-lokafyer" style="margin:15px;">
                Selected Lokafyers: 
               <img class="rb-lokafyer-1" ng-repeat="lokafyerID in chosenLokafyers" ng-if="lokafyerID!=''" ng-src="{{'/static/images/lokafyers/' + lokafyerID + '.jpg'}}"> 
                </img>
              </div>
              <div class="rb-name" style="margin:15px;">
                My name is <input type="text" name="first-name" id="first-name" placeholder=" First Name" ng-model="requestData.first_name">  <input type="text" name="last-name" id="last-name" placeholder=" Last Name"  ng-model= "requestData.last_name" >.
                <br>
                <span ng-show="missingField != '' && !requestData.first_name" style='color:#DC143C;' >Please enter your first name.</span>
                <span ng-show="missingField != '' && !requestData.last_name && requestData.first_name" style='color:#DC143C;' >Please enter your last name.</span>    
              </div>
             
              <div class="rb-contact" style="margin:15px;">
                I can be reached at <input type="text" name="email" id="email" placeholder=" Email Address" ng-model = "requestData.email"> or <input type="text" name="cell" id="cell" placeholder=" Mobile Number"  ng-model="requestData.mobile_no">. 
                <br>
                <span ng-show="missingField != '' && !requestData.email" style='color:#DC143C;' >Please enter an email address.</span>
                <span ng-show="missingField == 'a valid email' && requestData.email" style='color:#DC143C;' >Please enter an valid email address.</span>    
              </div>

              <div class="rb-travel" style="margin:15px; ">
                I am travelling <select name="travel" class="ui dropdown" id="select" ng-model="requestData.group_type" required ng-options='option.value as option.name for option in groupTypeOptions' ng-change="update_cost()">
                </select>. <div style='display: inline;' ng-show="requestData.group_type && requestData.group_type != 'lovers' && requestData.group_type != 'solo' "> 
                There are <input type="number" name="people" id="people" min='1' placeholder="      #" ng-model="requestData.group_size">people in my group.
                  </div> <span ng-show="missingField != '' && !requestData.group_size" style='color:#DC143C;' ><br>Please enter a group size.</span>
              </div>
              <div class="rb-time"  ng-show="requestData.group_type" style="margin:15px;">
                <span ng-show=" !requestData.group_type || requestData.group_type === 'solo'">I</span><span ng-show="requestData.group_type && (requestData.group_type !== 'solo')">We</span> would like a tour for&nbsp;&nbsp;<input type="number" name="hour" id="hour" min='2' placeholder="&nbsp;&nbsp;#" class="required" ng-model="requestData.durations"> hours in the <select name="city" class="ui dropdown" id="select" ng-model="requestData.time_of_day">
                    <option value=""></option>
                    <option value="morning">morning</option>
                    <option value="afternoon">afternoon</option>
                    <option value="evening">evening</option>
                </select> on  <input type='text'style='width:80px;' id='datepicker' ng-model="requestData.date" required="required"/> 
                <br>
                <span ng-show="missingField != '' && !requestData.durations" style='color:#DC143C;' >Please enter a tour duration.</span>
                <span ng-show="missingField != '' && !requestData.time_of_day && requestData.durations" style='color:#DC143C;' >Please enter a time of day.</span>
                <span ng-show="missingField != '' && !requestData.date && requestData.time_of_day && requestData.durations" style='color:#DC143C;' >Please enter a date.</span>
              </div>

              <div class="rb-discover" ng-show="requestData.group_type" style="margin:15px;">How did you discover Lokafy? <input type="text" name="discover" id="dicover" placeholder=""  ng-model="requestData.source"></div> 

              <div class="rb-referral" ng-show="requestData.group_type" style="margin-left:15px;">Referral Code: <input type="text" name="referral" id="referral" placeholder=""  ng-model="requestData.referral"></div>

              
              <div class="rb-about" ng-show="requestData.group_type" style="margin:15px;">
              <div ng-show=" !requestData.group_type || requestData.group_type === 'solo'">About me:</div><div ng-show="requestData.group_type && (requestData.group_type !== 'solo')">About us:</div><textarea ng-model="requestData.about" name="aboutme" id="aboutme" class="required"></textarea> <span ng-show="missingField != '' && !requestData.about" style='color:#DC143C;' >Please enter a little about yourself.</span>   
              </div>

              <div class="rb-show" ng-show="requestData.group_type" style="margin:15px;">
                <span ng-show=" !requestData.group_type || requestData.group_type === 'solo'">I</span><span ng-show="requestData.group_type && (requestData.group_type !== 'solo')">We</span>'d like the Lokafyer to show me:<br><textarea ng-model="requestData.whattoshow" name="showme" id="showme" class="required"></textarea>
              </div>
            </div>
          </form>
         </div>
         <div class="container-bottom"  >
          <div class="rb-submit" style="margin:15px;">
            <div class="rb-cost">
              <!-- <p>Total Cost:&nbsp;&nbsp;$&nbsp;&nbsp;</p><div></div> --> 
              <p class="width:100px" ng-show="requestData.group_type">Total Cost:&nbsp;<span ng-show="requestData.destination === 'Toronto'">$</span><span ng-show="requestData.destination === 'Paris'">€</span>{{total}}</p>
            </div>
       <!--      <form style='display:none;' ng-submit="requestBooking()" >
              <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_WeMgVPiPMh826HXDHwGQfDjr"
                data-name="Payment">
              </script>
            </form> -->
           <!--  <button type="submit" id="checkout"  style='display:none;' stripe-checkout="requestBooking" 
            data-key="pk_live_4CHLKkl8dJuJ2ojshy6GA9Vq"
            data-name="Payment" value="Finalize Payment"></button> -->

       <!--      <input type="submit" class="rb-submit-1" id="checkout" style='display:none;' ng-click='validateBeforeStripe()' value="Finazlie booking
Proceed to Payment"/> -->
            <input type="submit" class="rb-submit-1" style='display:none; font-weight: bold; color: #3984c7;
    background-color: white;
    border-color: #3984c7; border:solid;' ng-click="requestBooking()" value="Submit Booking Request"  />
          </div>
        </div>
    </div>

<div class="modal fade" tabindex="-1" role="dialog" id="submitModal" aria-labelledby="submitModal" aria-hidden="true" >
  <div class="modal-dialog modal-sm"  >
    <div class="modal-content" style="text-align: center; width:400px; padding:15px;" >
      <button type="button" class="close" data-dismiss="modal" >&times;</button>
      <h3>We have received your request, we will respond within 24 hours.</h3>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="submitModal2" aria-labelledby="submitModal2" aria-hidden="true" >
  <div class="modal-dialog modal-sm"  >
    <div class="modal-content" style="text-align: center; width:400px; padding:15px;" >
      <button type="button" class="close" data-dismiss="modal" >&times;</button>
      <h3>Please input the required fields.</h3>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="submitModalFail" aria-labelledby="submitModal2" aria-hidden="true" >
  <div class="modal-dialog modal-sm"  >
    <div class="modal-content" style="text-align: center; width:400px; padding:15px;" >
      <button type="button" class="close" data-dismiss="modal" >&times;</button>
      <h3>Sorry your request did not go through, please try again later.</h3>
    </div>
  </div>
</div>

  {% endverbatim %}
<script type="text/javascript" src="{% static "js/jquery-2.1.1.js"%}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
<script src="{% static "js/bootstrap.js"%}"></script>
<script type="text/javascript" src="../../../static/js/pikaday.js"></script>
<script type="text/javascript">
    var mobile_picker = new Pikaday({ field: $('#mobile_datepicker')[0] });
    mobile_picker.gotoToday()
    mobile_picker.setMinDate(new Date());
    var picker = new Pikaday({ field: $('#datepicker')[0] });
    picker.gotoToday()
    picker.setMinDate(new Date());
</script>
<script>  
$(document).ready(function(){
  // $('.stripe-button-el > span').text('Finalize Payment');
  // $('.stripe-button-el > span').css('font-family', "'Lato',sans-serif");

  
 
// $('.stripe-button-el').hide();
  $('body > div.container-bottom > div > span').css('left',$('body > div.container-bottom > div > input').position().left);
  $("select[name='travel']").one("change", function(){
    if ($(this).val() == "solo" || $(this).val() == "lovers"){
      if ($(window).width() < 699){
        $('.rb-travel').height(0);
 
      } 
    }
     $('.request-booking-container').height(640);
  });

  $("select[name='travel']").on("change", function(){
    if ($(this).val() == "solo"){
      $('.rb-submit-1').show();
    } else if ($(this).val() == "lovers"){
      $('.rb-submit-1').show();
    } else{
      $('.rb-submit-1').show();
    }
  });
 function reposition() {
          var modal = $(this),
              dialog = modal.find('.modal-dialog');
          modal.css('display', 'block');
          
          // Dividing by two centers the modal exactly, but dividing by three 
          // or four works better for larger screens.
          dialog.css("margin-top", Math.max(0, ($(window).height() - dialog.height()) / 2));
  }
  // Reposition when a modal is shown
  $('.modal').on('show.bs.modal', reposition);
  // Reposition when the window is resized
  $(window).on('resize', function() {
      $('.modal:visible').each(reposition);
  });
  $('#submitModal').click(function(){
    // window.location.href= 'http://www.lokafy.com';
    window.history.back();
  });
});
</script>
</body>
</html>


