﻿<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]>
<!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

	<!-- Basic Page Needs
================================================== -->
	<meta charset="utf-8">
	<title>We Bridge the Gap between Travelers and Locals - Lokafy</title>
	<meta name="description" content="Lokafy Website">
	<meta name="author" content="Qing Li">
	<meta name="keyword" content="travel, tour, local, toronto, paris">

	<!-- Mobile Specific Metas
================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- CSS
================================================== -->
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static "css/base.css"%}"/>
	<link rel="stylesheet" href="{% static "css/skeleton.css"%}"/>
	<link rel="stylesheet" href="{% static "css/layout.css"%}"/>
	<link rel="stylesheet" href="{% static "css/font-awesome.css"%}" />
	<link rel="stylesheet" href="{% static "css/ionicons.css"%}"/>
	<link rel="stylesheet" href="{% static "css/retina.css"%}"/>
	<link rel="stylesheet" href="{% static "css/owl.carousel.css"%}"/>
	<link rel="stylesheet" href="{% static "css/owl.transitions.css"%}"/>
	<link rel="stylesheet" href="{% static "css/search.css"%}"/>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		
	<!-- Favicons
================================================== -->
	<link rel="shortcut icon" href="{% static "images/icon/favicon.png"%}">
	<link rel="apple-touch-icon" href="{% static "images/icon/apple-touch-icon.png"%}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static "images/icon/apple-touch-icon-72x72.png"%}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static "images/icon/apple-touch-icon-114x114.png"%}">
	
	<script type="text/javascript" src="{% static "js/modernizr.js"%}"></script>
	<script src="{% static "js/modernizr.custom.72111.js"%}"></script>
	
</head>

<body>	

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WR84ZN"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WR84ZN');</script>
<!-- End Google Tag Manager -->
	
	<!-- Navigation And Logo
================================================== -->
	
		<div id="menu-wrap" class="menu-back cbp-af-header">
			<div class="container">
				<div class="twelve columns">
					<a href="http://lokafy.com"><div class="logo"></div></a>
					<ul class="slimmenu">

						<li>
						<a href="/pricing">pricing</a>
						</li>
						<li>
							<a href="/reviews">reviews</a>
						</li>
						<li>
							<a href="/faqs">faqs</a>
						</li>
						<li>
							<a href="/about">about</a>
						</li>
						<li>
							<a href="http://blog.lokafy.com" target="_blank">blog</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>		

	<!-- Primary Page Layout
	================================================== -->

	<main class="cd-main">
		
		<div class="about-container">
			<div class="about-container-left">
				<div class="about-menu">
					<div class="about-menu-1"><a href="/about"><p>What is Lokafy</p></a></div>
					<div class="about-menu-1"><a href="/mission"><p>Mission</p></a></div>
					<div class="about-menu-1"><a href="/values"><p>Values</p></a></div>
					<div class="about-menu-1"><a href="/contact"><p>Contact</p></a></div>
				</div>
			</div>

			<div class="about-container-right">
				<div class="contact">
					<div class="about-container-contact"><h4>Contact</h4></div>
					<div class="contact-content">
						<h5>Lokafy</h5>
						<br/>
						<p>1416-40 Homewood Avenue</p>
						<p>Toronto, ON &nbsp;M4Y 2K2</p>
						<p>CANADA</p>
						<p>Tel: 1-800-943–9145</p>
						<p>&nbsp;</p>
						<p>Please send us a message using the following form:</p>
						<br/>
						<br>
						<div class="contact_form" style="max-width:400px">

						<form name="ajax-form" id="ajax-form" action="../api/contact" method="post">
						    <p>
						      <label for="name">Name: * 
						        <span class="error" id="err-name">please enter name</span>
						        <br />
						      </label>

						      <input name="name" id="name" type="text" /><br /><br />

						        <label for="phone">Contact Number: * 
						        <span class="error" id="err-phone">please enter phone number</span>
						        <br />
						      </label>

						      <input name="phone" id="phone" type="text" /><br /><br />

						      <label for="email">E-Mail: * 
						        <span class="error" id="err-email">please enter e-mail</span>
						        <span class="error" id="err-emailvld">e-mail is not a valid format</span><br />
						      </label>
						      <input name="email" id="email" type="text" /><br /><br />
						      </p>

						    <p>
						      <label for="message">Message:</label>
						      <textarea name="message" id="message"></textarea>

						    <div class="myButton"><INPUT type="submit" name="" value="SEND" id="send"></div>

						<div class="mainerror">
						<div class="error" id="err-form">There was a problem validating the form please check!</div>
						    <div class="error" id="err-timedout">The connection to the server timed out!</div>
						    <div class="error" id="err-state"></div></div>
						</form>
						<div id="ajaxsuccess"><h2>Successfully sent!!</h2></div>

						</div>

					</div>


				</div>
			</div>
			
			<div class="about-container-top"><h4>About</h4></div>

		</div>
		
		<div class="clear"></div>	

		<div class="footer-background">	
	
			<div class="parallax-footer"></div>	
														
			<div class="footer-container">		
				<div class="twelve columns">
					<div class="footer-img">
						<img src="{% static "images/logos/logo-small-white.png"%}" alt="">
					</div>	
				</div>
				<div class="twelve columns">
					<div class="social-container">
						<a href="http://www.seetorontonow.com/listings/lokafy/" target="_blank"><img class="torontotourism" src="{% static "images/icon/torontotourism.png"%}"></a>
						<img class="separation" src="{% static "images/icon/separation.png"%}">	
						<div class="social-footer">
							<ul class="list-social">
								<li class="icon-soc tipped" data-title="facebook"  data-tipper-options='{"direction":"top","follow":"true"}'>
									<a href="https://www.facebook.com/Lokafy.co" target="_blank">&#xf09a;</a>
								</li>
							</ul>

							<ul class="list-social">
								<li class="icon-soc tipped" data-title="twitter"  data-tipper-options='{"direction":"top","follow":"true"}'>
									<a href="https://twitter.com/lokafytravel" target="_blank">&#xf099;</a>
								</li>
							</ul>

							<ul class="list-social">
								<li class="icon-soc tipped" data-title="google+"  data-tipper-options='{"direction":"top","follow":"true"}'>
									<a href="https://plus.google.com/+Lokafy/videos" target="_blank">&#xf0d5;</a>
								</li>
							</ul>

							<ul class="list-social">
								<li class="icon-soc tipped" data-title="instagram"  data-tipper-options='{"direction":"top","follow":"true"}'>
									<a href="https://instagram.com/lokafy/" target="_blank">&#xf16d;</a>
								</li>
							</ul>

							<ul class="list-social">
								<li class="icon-soc tipped" data-title="e-mail: info@lokafy.com"  data-tipper-options='{"direction":"top","follow":"true"}'>
									<a href="mailto:info@lokafy.com" target="_blank">&#xf0e0;</a>
								</li>
							</ul>

							<ul class="list-social">
								<li class="icon-soc tipped" data-title="phone: (800) 943-9145"  data-tipper-options='{"direction":"top","follow":"true"}'>
									<a href="tel:800-943-9145" target="_blank">&#xf095;</a>
								</li>
							</ul>								
						</div>
					</div>
					<div class="footer-copy-text">
						<p>© Lokafy 2015</p>
					</div>	
				</div>

			
			</div>
		</div>
		
	</main> <!-- .cd-main -->
	
	<div class="scroll-to-top"></div>	
		
	<!-- JAVASCRIPT
    ================================================== -->
<script type="text/javascript" src="{% static "js/jquery-2.1.1.js"%}"></script>
<script type="text/javascript" src="{% static "js/royal_preloader.min.js"%}"></script>
<script type="text/javascript">
(function($) { "use strict";
            Royal_Preloader.config({
                mode:           'text', // 'number', "text" or "logo"
                text:           'OUREA',
                timeout:        0,
                showInfo:       true,
                opacity:        1,
                background:     ['#FFFFFF']
            });
})(jQuery);
</script>
<script type="text/javascript" src="{% static "js/scroll.js"%}"></script>
<script type="text/javascript"> 
(function($) { "use strict";          
			jQuery(document).ready(function() {
				var offset = 350;
				var duration = 500;
				jQuery(window).scroll(function() {
					if (jQuery(this).scrollTop() > offset) {
						jQuery('.scroll-to-top').fadeIn(duration);
					} else {
						jQuery('.scroll-to-top').fadeOut(duration);
					}
				});
				
				jQuery('.scroll-to-top').click(function(event) {
					event.preventDefault();
					jQuery('html, body').animate({scrollTop: 0}, duration);
					return false;
				})
			});
})(jQuery);
</script>  
<script type="text/javascript" src="{% static "js/retina-1.1.0.min.js"%}"></script> 
<script type="text/javascript" src="{% static "js/jquery.easing.js"%}"></script>
<script type="text/javascript" src="{% static "js/classie.js"%}"></script>
<script type="text/javascript" src="{% static "js/cbpAnimatedHeader.min.js"%}"></script>
<script type="text/javascript" src="{% static "js/menu-classic.js"%}"></script> 
<script type="text/javascript" src="{% static "js/jquery.fs.tipper.min.js"%}"></script> 
<script type="text/javascript" src="{% static "js/owl.carousel.min.js"%}"></script>
<script type="text/javascript" src="{% static "js/jquery.parallax-1.1.3.js"%}"></script>
<script type="text/javascript" src="{% static "js/jquery.chaffle.min.js"%}"></script>
<script type="text/javascript">
(function($) { "use strict";
	$(document).ready(function() {
	  $('.chaffle').chaffle({
		speed: 10,
		time: 60
	  });
	}); 
})(jQuery);
</script>
<script type="text/javascript" src="{% static "js/jquery.fitvids.js"%}"></script>
<script type="text/javascript"> 
(function($) { "use strict"; 
	$(".container").fitVids();	
})(jQuery);
</script>
<script type="text/javascript"> 
(function($) { "use strict"; 
	$('.vimeo a,.youtube a').click(function (e) {
		e.preventDefault();
		var videoLink = $(this).attr('href');
		var classeV = $(this).parent();
		var PlaceV = $(this).parent();
		if ($(this).parent().hasClass('youtube')) {
			$(this).parent().wrapAll('<div class="video-wrapper">');
			$(PlaceV).html('<iframe frameborder="0" height="333" src="' + videoLink + '?autoplay=1&showinfo=0" title="YouTube video player" width="547"></iframe>');
		} else {
			$(this).parent().wrapAll('<div class="video-wrapper">');
			$(PlaceV).html('<iframe src="' + videoLink + '?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;color=16a085" width="500" height="281" frameborder="0"></iframe>');
		}
	});		
})(jQuery);
</script>	
<script type="text/javascript" src="{% static "js/jquery.counterup.min.js"%}"></script>
<script type="text/javascript" src="{% static "js/waypoints.min.js"%}"></script>
<script type="text/javascript" src="{% static "js/visible.min.js"%}"></script>
<script type="text/javascript" src="{% static "js/pro-bars.js"%}"></script>
<script type="text/javascript" src="{% static "js/smk-accordion.js"%}"></script>
<script type="text/javascript" src="{% static "js/custom-features.js"%}"></script>  
<script type="text/javascript" src="{% static "js/contact.js"%}"></script>  
<!-- End Document
================================================== -->
</body>
</html>
