﻿<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]>
<!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

	<!-- Basic Page Needs
================================================== -->
	<meta charset="utf-8">
	<title>We Bridge the Gap between Travelers and Locals - Lokafy</title>
	<meta name="description" content="Lokafy Website">
	<meta name="author" content="Qing Li">
	<meta name="keyword" content="travel, tour, local, toronto, paris">

	<!-- Mobile Specific Metas
================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- CSS
================================================== -->
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static "css/base.css"%}"/>
	<link rel="stylesheet" href="{% static "css/skeleton.css"%}"/>
	<link rel="stylesheet" href="{% static "css/layout.css"%}"/>
	<link rel="stylesheet" href="{% static "css/font-awesome.css"%}" />
	<link rel="stylesheet" href="{% static "css/ionicons.css"%}"/>
	<link rel="stylesheet" href="{% static "css/retina.css"%}"/>
	<link rel="stylesheet" href="{% static "css/owl.carousel.css"%}"/>
	<link rel="stylesheet" href="{% static "css/owl.transitions.css"%}"/>
	<link rel="stylesheet" href="{% static "css/search.css"%}"/>
	<link rel="stylesheet" href="{% static "css/bootstrap.css"%}">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		
	<!-- Favicons
================================================== -->
	<link rel="shortcut icon" href="{% static "images/icon/favicon.png"%}">
	<link rel="apple-touch-icon" href="{% static "images/icon/apple-touch-icon.png"%}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static "images/icon/apple-touch-icon-72x72.png"%}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static "images/icon/apple-touch-icon-114x114.png"%}">
	
	<script type="text/javascript" src="{% static "js/modernizr.js"%}"></script>
	<script src="{% static "js/modernizr.custom.72111.js"%}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="{% static "js/bootstrap.js"%}"></script>	
</head>

<body>	

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WR84ZN"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WR84ZN');</script>
<!-- End Google Tag Manager -->
	
	<!-- Navigation And Logo
================================================== -->
	
		<div id="menu-wrap" class="menu-back cbp-af-header">
			<div class="container">
				<div class="twelve columns">
					<a href="http://lokafy.com"><div class="logo"></div></a>
					<div class="booktour" >
						<div class="dropdown" >
							<button class="btn btn-primary dropdown-toggle" id="booktour" type="button" data-toggle="dropdown">BOOK TOUR<span class="caret" style="margin-left:1px;"></span></button>
								<ul class="dropdown-menu">
									<li><a href="http://lokafy.com/city/toronto">Toronto</a></li>
									<li><a href="http://lokafy.com/city/paris">Paris</a></li>
								</ul>
						</div>
					</div>
					<div class="booktour-mobile">
						<div class="dropdown" >
							<button class="btn btn-primary dropdown-toggle" id="booktour-mobile" type="button" data-toggle="dropdown" >BOOK TOUR<span class="caret" style="margin-left:3px;" ></span></button>
								<ul class="dropdown-menu">
									<li><a href="http://lokafy.com/city/toronto">Toronto</a></li>
									<li><a href="http://lokafy.com/city/paris">Paris</a></li>
								</ul>
						</div>
					</div>
					<ul class="slimmenu">

						<li>
						<a href="/pricing">pricing</a>
						</li>
						<li>
							<a href="/reviews">reviews</a>
						</li>
						<li>
							<a href="/faqs">faqs</a>
						</li>
						<li>
							<a href="/about">about</a>
						</li>
						<li>
							<a href="http://blog.lokafy.com" target="_blank">blog</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>	

	<!-- Primary Page Layout
	================================================== -->

	<main class="cd-main">
		<div class="faqs-container">
			<div class="faqs-top"></div>
			<div class="faqs-bottom">
				<div id="faqs">
				<h4>1. Who are the Lokafyers?</h4>
				<div><p style="font-size:13px;">Lokafyers are real people not tour guides. All Lokafyers have been interviewed one-on-one prior to being accepted on the platform. They have been chosen based on their passion for their home city and their desire to share what they love most with travellers.  Through conversations with your Lokafyer you will learn about what it would be like to live in the city, and begin to see the city through their eyes. We hope that you will meet your host with a desire to learn more about the city, and perhaps, say good bye as friends.</p></div>
				<h4>2. What happens if the Lokafyer I choose is not available?</h4>
				<div><p>We recommend that you select at least three Lokafyers to maximize the chance of one of them being available for your desired date and time. In your request please let us know if you have any flexibility in the date or time of the tour. In case the Lokafyers you chose aren’t available, we will select the right Lokafyer based on your interests and their availability. </p></div>
				<h4>3. If I am unable to travel for some reason can I get reimbursed?</h4>
				<div><p>Yes as long as 48 hours notice is provided.</p></div>
				<h4>4. Can the Lokafyer meet me where I am staying?</h4>
				<div><p>Yes, you can meet the Lokafyer anywhere in the city if it is mutually agreed.</p></div>
				<h4>5. Why do I have to pay for this?</h4>
				<div><p>Most of the payment for the tour goes to the Lokafyers, to compensate them for taking time off from their schedule. A portion of the payment is retained by Lokafy to maintain the platform.  </p></div>
				<h4>6. Can I contact the Lokafyer before the tour?</h4>
				<div><p>Yes, after the booking is confirmed we will provide you with an e-mail and phone number, so that you can reach out to him or her with any questions you may have.</p></div>
				<h4>7. Can I become a Lokafyer myself?</h4>
				<div><p>Yes of course! If we are in your city you can join the community of Lokafyers. If we are not in your city yet please contact us to start a community of Lokafyers in your home city. Please send us a message from the <a href="http://lokafy.com/contact/">contact page</a>.</p></div>
				<h4>8. What security measures are taken to choose the Lokafyers?</h4>
				<div><p>We have met all the Lokafyers and interviewed them one-on-one before accepting them on to the platform.</p></div>
				<h4>9. How does the booking process work?</h4>
				<div><p>1. Browse the Lokafyer profiles
					<br>Select Lokafyers based on their knowledge of a particular area of the city, their age range or a shared interest (ex: music, sports, photography).  Once you have narrowed down the choice of Lokafyers using the filters, click on the Lokafyers you are interested in to read their full profile.  We recommend you choose at least 3 since the Lokafyer’s availability varies.<br><br>
				2. Finalize the Booking Request<br>
				Provide contact information, your travel dates, preferred timing for the tour and the number of people who are travelling with you so that we can confirm the booking with the Lokafyer.  Make the payment in order to finalize the booking.  You will receive an email with the booking details.<br><br>
				3. We make the arrangements with the Lokafyer<br>
				Once we have confirmed the Lokafyer’s availability for your requested dates, we will inform you via email and request payment. We will send you an email to confirm the booking as soon we receive the Paypal transfer for the fees. The email will indicate contact information for your host (mobile number, email address) as well as a proposed meeting location (if you haven’t specified a location in your request). You can exchange emails with your host if you have any questions regarding the meeting or wish to provide them with any information.<br><br>
				4. Experience the City through the Lokafyer’s Eyes<br>
				You meet with the Lokafyer at the agreed upon meeting time and location. Lokayfers meet with travellers one-on-one or with a group travelling together so the meeting is always personalized. Like free-flowing conversations, the meetings between Lokafyers and travellers are not scripted and there is no set itinerary that must be adhered to. When you meet with the Lokafyer you could ask them to show you around a particular neighbourhood that they are familiar with or just sit down in a café and get to know each other. Through this exchange, you’ll gain a fresh new perspective of the city, and learn things that would never get covered in a regular walking tour.<br><br>
				5. Give us Feedback <br>
				We would love to hear about your experience with the Lokafyer and the service in general (from browsing the site through to booking). What parts were great?  What can we improve on?</p></div>
			</div>
			<div class="space"></div>
		</div>
		<div class="price-container-top"><h4>faqs</h4></div>

		
		<div class="clear"></div>	

		<div class="footer-background">	
	
			<div class="parallax-footer"></div>	
														
			<div class="footer-container">		
				<div class="twelve columns">
					<div class="footer-img">
						<img src="{% static "images/logos/logo-small-white.png"%}" alt="">
					</div>	
				</div>
				<div class="twelve columns">
					<div class="social-container">
						<a href="http://www.seetorontonow.com/listings/lokafy/" target="_blank"><img class="torontotourism" src="{% static "images/icon/torontotourism.png"%}"></a>
						<a href="http://www.seetorontonow.com/listings/lokafy/" target="_blank"><img class="torontotourism" src="{% static "images/icon/torontotourism-2.png"%}"></a>
						<img class="separation" src="{% static "images/icon/separation.png"%}">	
						<div class="social-footer">
							<ul class="list-social">
								<li class="icon-soc tipped" data-title="facebook"  data-tipper-options='{"direction":"top","follow":"true"}'>
									<a href="https://www.facebook.com/Lokafy.co" target="_blank">&#xf09a;</a>
								</li>
							</ul>

							<ul class="list-social">
								<li class="icon-soc tipped" data-title="twitter"  data-tipper-options='{"direction":"top","follow":"true"}'>
									<a href="https://twitter.com/lokafytravel" target="_blank">&#xf099;</a>
								</li>
							</ul>

							<ul class="list-social">
								<li class="icon-soc tipped" data-title="google+"  data-tipper-options='{"direction":"top","follow":"true"}'>
									<a href="https://plus.google.com/+Lokafy/videos" target="_blank">&#xf0d5;</a>
								</li>
							</ul>

							<ul class="list-social">
								<li class="icon-soc tipped" data-title="instagram"  data-tipper-options='{"direction":"top","follow":"true"}'>
									<a href="https://instagram.com/lokafy/" target="_blank">&#xf16d;</a>
								</li>
							</ul>

							<ul class="list-social">
								<li class="icon-soc tipped" data-title="e-mail: info@lokafy.com"  data-tipper-options='{"direction":"top","follow":"true"}'>
									<a href="mailto:info@lokafy.com" target="_blank">&#xf0e0;</a>
								</li>
							</ul>

							<ul class="list-social">
								<li class="icon-soc tipped" data-title="phone: 1-800-943-9145"  data-tipper-options='{"direction":"top","follow":"true"}'>
									<a href="tel:800-943-9145" target="_blank">&#xf095;</a>
								</li>
							</ul>								
						</div>
					</div>
					<div class="footer-copy-text">
						<p>© Lokafy 2015</p>
					</div>	
				</div>

			
			</div>
		</div>
		
	</main> <!-- .cd-main -->
	
	<div class="scroll-to-top"></div>	
		
	<!-- JAVASCRIPT
    ================================================== -->
<script type="text/javascript" src="{% static "js/jquery-2.1.1.js"%}"></script>
<script type="text/javascript" src="{% static "js/royal_preloader.min.js"%}"></script>
<script type="text/javascript">
(function($) { "use strict";
            Royal_Preloader.config({
                mode:           'text', // 'number', "text" or "logo"
                text:           'OUREA',
                timeout:        0,
                showInfo:       true,
                opacity:        1,
                background:     ['#FFFFFF']
            });
})(jQuery);
</script>
<script type="text/javascript" src="{% static "js/scroll.js"%}"></script>
<script type="text/javascript"> 
(function($) { "use strict";          
			jQuery(document).ready(function() {
				var offset = 350;
				var duration = 500;
				jQuery(window).scroll(function() {
					if (jQuery(this).scrollTop() > offset) {
						jQuery('.scroll-to-top').fadeIn(duration);
					} else {
						jQuery('.scroll-to-top').fadeOut(duration);
					}
				});
				
				jQuery('.scroll-to-top').click(function(event) {
					event.preventDefault();
					jQuery('html, body').animate({scrollTop: 0}, duration);
					return false;
				})
			});
})(jQuery);
</script>  
<script type="text/javascript" src="{% static "js/retina-1.1.0.min.js"%}"></script> 
<script type="text/javascript" src="{% static "js/jquery.easing.js"%}"></script>
<script type="text/javascript" src="{% static "js/classie.js"%}"></script>
<script type="text/javascript" src="{% static "js/cbpAnimatedHeader.min.js"%}"></script>
<script type="text/javascript" src="{% static "js/menu-classic.js"%}"></script> 
<script type="text/javascript" src="{% static "js/jquery.fs.tipper.min.js"%}"></script> 
<script type="text/javascript" src="{% static "js/owl.carousel.min.js"%}"></script>
<script type="text/javascript" src="{% static "js/jquery.parallax-1.1.3.js"%}"></script>
<script type="text/javascript" src="{% static "js/jquery.chaffle.min.js"%}"></script>
<script type="text/javascript">
(function($) { "use strict";
	$(document).ready(function() {
	  $('.chaffle').chaffle({
		speed: 10,
		time: 60
	  });
	}); 
})(jQuery);
</script>
<script type="text/javascript" src="{% static "js/jquery.fitvids.js"%}"></script>
<script type="text/javascript"> 
(function($) { "use strict"; 
	$(".container").fitVids();	
})(jQuery);
</script>
<script type="text/javascript"> 
(function($) { "use strict"; 
	$('.vimeo a,.youtube a').click(function (e) {
		e.preventDefault();
		var videoLink = $(this).attr('href');
		var classeV = $(this).parent();
		var PlaceV = $(this).parent();
		if ($(this).parent().hasClass('youtube')) {
			$(this).parent().wrapAll('<div class="video-wrapper">');
			$(PlaceV).html('<iframe frameborder="0" height="333" src="' + videoLink + '?autoplay=1&showinfo=0" title="YouTube video player" width="547"></iframe>');
		} else {
			$(this).parent().wrapAll('<div class="video-wrapper">');
			$(PlaceV).html('<iframe src="' + videoLink + '?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;color=16a085" width="500" height="281" frameborder="0"></iframe>');
		}
	});		
})(jQuery);
</script>	
<script type="text/javascript" src="{% static "js/jquery.counterup.min.js"%}"></script>
<script type="text/javascript" src="{% static "js/waypoints.min.js"%}"></script>
<script type="text/javascript" src="{% static "js/visible.min.js"%}"></script>
<script type="text/javascript" src="{% static "js/pro-bars.js"%}"></script>
<script type="text/javascript" src="{% static "js/smk-accordion.js"%}"></script>
<script type="text/javascript" src="{% static "js/custom-features.js"%}"></script>  

<script type="text/javascript">
$(document).ready(function() {
	$('#faqs h4').each(function() {
		var tis = $(this), state = false, answer = tis.next('div').slideUp();
		tis.click(function() {
			state = !state;
			answer.slideToggle(state);
			tis.toggleClass('active',state);
		});
	});
});
</script>	  
<!-- End Document
================================================== -->
</body>
</html>
