﻿<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]>
<!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

	<!-- Basic Page Needs
================================================== -->
	<meta charset="utf-8">
	<title>We Bridge the Gap between Travelers and Locals - Lokafy</title>
	<meta name="description" content="Lokafy Website">
	<meta name="author" content="Qing Li">
	<meta name="keyword" content="travel, tour, local, toronto, paris">

	<!-- Mobile Specific Metas
================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- CSS
================================================== -->
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static "css/base.css"%}"/>
	<link rel="stylesheet" href="{% static "css/skeleton.css"%}"/>
	<link rel="stylesheet" href="{% static "css/font-awesome.css"%}" />
	<link rel="stylesheet" href="{% static "css/ionicons.css"%}"/>
	<link rel="stylesheet" href="{% static "css/retina.css"%}"/>
	<link rel="stylesheet" href="{% static "css/owl.carousel.css"%}"/>
	<link rel="stylesheet" href="{% static "css/owl.transitions.css"%}"/>
	<link rel="stylesheet" href="{% static "css/search.css"%}"/>
	<link rel="stylesheet" href="{% static "css/bootstrap.css"%}">
	<link rel="stylesheet" href="{% static "css/layout.css"%}"/>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		
	<!-- Favicons
================================================== -->
	<link rel="shortcut icon" href="{% static "images/icon/favicon.png"%}">
	<link rel="apple-touch-icon" href="{% static "images/icon/apple-touch-icon.png"%}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static "images/icon/apple-touch-icon-72x72.png"%}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static "images/icon/apple-touch-icon-114x114.png"%}">
	
	<script type="text/javascript" src="{% static "js/modernizr.js"%}"></script>
	<script src="{% static "js/modernizr.custom.72111.js"%}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="{% static "js/bootstrap.js"%}"></script>
</head>

<body>	

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WR84ZN"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WR84ZN');</script>
<!-- End Google Tag Manager -->
	
	<!-- Navigation And Logo
================================================== -->
	
		<div id="menu-wrap" class="menu-back cbp-af-header">
			<div class="container">
				<div class="twelve columns">
					<a href="https://lokafy.com"><div class="logo"></div></a>
					<div class="booktour" style="display:none;">
						<div class="dropdown" >
							<button class="btn btn-primary dropdown-toggle" id="booktour" type="button" data-toggle="dropdown" >BOOK TOUR<span class="caret" style="margin-left:4px;"></span></button>
								<ul class="dropdown-menu">
									<li><a style="text-align:center; font-family: 'lato',sans-serif; font-weight: 500; text-transform: uppercase;" href="https://lokafy.com/city/toronto">Toronto</a></li>
									<li><a style="text-align:center; font-family: 'lato',sans-serif; font-weight: 500; text-transform: uppercase;" href="https://lokafy.com/city/paris">Paris</a></li>
								</ul>
						</div>
					</div>
					<div class="booktour-mobile" style="display:none;">
						<div class="dropdown" >
							<button class="btn btn-primary dropdown-toggle" id="booktour-mobile" type="button" data-toggle="dropdown" >BOOK TOUR<span class="caret" style="margin-left:5px;" ></span></button>
								<ul class="dropdown-menu" >
									<li><a style="text-align:center; font-family: 'lato',sans-serif; font-weight: 500; text-transform: uppercase;" href="https://lokafy.com/city/toronto">Toronto</a></li>
									<li><a style="text-align:center; font-family: 'lato',sans-serif; font-weight: 500; text-transform: uppercase;" href="https://lokafy.com/city/paris">Paris</a></li>
								</ul>
						</div>
					</div>
					<ul class="slimmenu">

						<li>
						<a href="pricing">pricing</a>
						</li>
						<li>
							<a href="reviews">reviews</a>
						</li>
						<li>
							<a href="faqs">faqs</a>
						</li>
						<li>
							<a href="about">about</a>
						</li>
						<li>
							<a href="http://blog.lokafy.com" target="_blank">blog</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>	
	
	<!-- Primary Page Layout
================================================== -->

	<main class="cd-main">
		
		<div class="section full-height" id="home">
		
			<div class="hero-top">
				<div class="container">			
					<div class="twelve columns" style="padding-right:15%;">>
						<div class="tagline"><h2>GET TO KNOW PEOPLE<br> NOT JUST PLACES.</h2></div>
						<br>
						<div class="video"><a href="https://www.youtube.com/watch?v=gVVHM5JGyjo" class="html5lightbox"><img src="{% static "images/icon/play_button.png"%}"></a></div>
						<p style="padding-bottom:5%;">click to see Lokafy in 1 minute</p>
						<div class="booktour-large">
							<div class="dropdown" >
								<button class="btn btn-primary dropdown-toggle" id="booktour-large" type="button" data-toggle="dropdown">EXPLORE LOKAFYERS <span class="caret" id="booktour-large-caret"></span></button>
								<ul class="dropdown-menu" id="booktour-large-dropdown">
									<li><a style="text-align:center; font-family: 'lato',sans-serif; font-weight: 500; text-transform: uppercase;" href="https://lokafy.com/city/toronto">Toronto</a></li>
									<li><a style="text-align:center; font-family: 'lato',sans-serif; font-weight: 500; text-transform: uppercase;" href="https://lokafy.com/city/paris">Paris</a></li>
								</ul>
							</div>
						</div>
						<div class="booktour-large-mobile">
							<div class="dropdown">
								<button class="btn btn-primary dropdown-toggle" id="booktour-large-mobile"  type="button" data-toggle="dropdown">EXPLORE LOKAFYERS <span class="caret" id="booktour-large-caret-mobile" ></span></button>
								<ul class="dropdown-menu" id="booktour-large-dropdown-mobile">
									<li><a style="text-align:center; font-family: 'lato',sans-serif; font-weight: 500; text-transform: uppercase;" href="https://lokafy.com/city/toronto">Toronto</a></li>
									<li><a style="text-align:center; font-family: 'lato',sans-serif; font-weight: 500; text-transform: uppercase;" href="https://lokafy.com/city/paris">Paris</a></li>
								</ul>
							</div>
						</div>
					</div>	
				</div>	
			</div>
		
	<!--	<div class="customNavigation">
				<a class="prev"></a>
				<a class="next"></a>
			</div>	-->
							
			<div id="owl-top" class="owl-carousel owl-theme">
								 
		<!--	<div class="item top-image-1">		
				</div>
								
				<div class="item top-image-2">		
				</div>	-->

				<div class="item top-image-3">		
				</div>
								 
			</div>
			
			<a href="#scroll-link" data-gal="m_PageScroll2id" data-ps2id-offset="58"><div class="top-link-pages"></div></a>
				
				
		</div>
		
	<!--	<div class="request-booking">
			<a href="#"><div class="top-booking"></div></a>
			<a href=""><div class="bottom-booking"></div></a>
		</div>	-->
		<div class="clear"></div>	
		<div id="work">
		<div class="section padding-top white-background">
			<div class="container">			
				<div class="twelve columns" style="padding-right:15%;">	
					<div class="space"></div>	
					<div class="header-text main-pages">
						<p>Featured in:</p>

						<div class="hiw">

							<div class="hiw-left">
								<a href="http://www.cbc.ca/news/canada/toronto/torontonian-sets-up-lokafy-to-connect-locals-with-travellers-1.3147719"><div class="featured-left-top"></div></a>
							</div>

							<div class="hiw-center">
								<a href="http://notable.ca/this-new-startup-will-help-toronto-tourists-live-like-locals/"><div class="featured-center-top"></div></a>
							</div>

							<div class="hiw-right">
								<a href="http://www.seetorontonow.com/listings/lokafy/"><div class="featured-right-top">
								</div></a>
	
							</div>
						</div>	
				</div>	
			</div>
		</div>
		</div>
		<div class="clear"></div>	
		<div class="section padding-top-bottom-small" id="scroll-link">
	
			<div class="parallax-1">	
				
				<div class="action-wrap">
				<!--<p>Lokafy</p>-->
					<span><h4>We Bridge the Gap between Travelers and Locals</h4></span>			
				</div>
			</div>
		</div>

		<div class="section padding-top grey-background">		
			<div class="lokafy-container">
				<div class="action-wrap-2">
					<div class="os-top">
						<h4>Lokafy is...</h4>
					</div>
					<div class="os-bottom">
						<div class="rw-words rw-words-1">
							<h5><span>making travel about people.</span>
								<span>going beyond the usual, touristy things.</span>
								<span>getting to know someone who lives there.</span>
								<span>being a participant rather than just an observer.</span>
								<span>getting an insider’s view of where to go, what to see.</span>
								<span>feeling like you belong there.</span>
							</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>	
		<div id="work">
		<div class="section padding-top white-background">
			<div class="container">			
				<div class="twelve columns" style="padding-right:15%;">	
					<div class="space"></div>	
					<div class="header-text main-pages">
						<p>how it works</p>

						<div class="hiw">

							<div class="hiw-left">
								<div class="hiw-left-top">
								</div>
								<div class="hiw-left-bottom">
									<h5>1. Get to know our Lokafyers</h5>
									
								</div>
							</div>

							<div class="hiw-center">
								<div class="hiw-center-top">
								</div>
								<div class="hiw-center-bottom">
									<h5>2. Send us your booking request</h5>
									
								</div>
							</div>

							<div class="hiw-right">
								<div class="hiw-right-top">
								</div>
								<div class="hiw-right-bottom">
									<h5>3. Meet your Lokafyer and discover the city through their eyes</h5>
									
								</div>
							</div>
						</div>	
					</div>
					<div class="hiw-bottom"><div class="moretoadd">Still have questions?<li class="icon-soc tipped" data-title="read faqs"  data-tipper-options='{"direction":"top","follow":"true"}'>
									<a href="/faqs">&#xf075;</a>
								</li></h5></div></div>

					
				</div>	
			</div>
		</div>
		</div>
			
		<div class="clear"></div>
		
		<div id="testimonial">
		<div class="testimonial-background">
			<div class="testimonial-container">		
					<div class="customNavigation">
						<a class="prev-quote"></a>
						<a class="next-quote"></a>
					</div>
									
					<div id="owl-quote" class="owl-carousel owl-theme">
										 
						<div class="item">
							<div class="tc-left-3">
								</div>
							<div class="tc-right-1">
								<div class="tc-right-1-top">
									<h4>Rodney Victor <font color="#c4c4c4">(from Vancouver, Canada)</font></h4>
									<p>“Very enjoyable, the tour was very personal, with lots of attention to our interests and preferences. Also, during our tour, our guide gave us options along the way, which was so cool. It was like a “choose-your-own-adventure”.  We were not totally sure what to expect, and yet it was perfect. I did expect an intimate tour from somebody with lots of local knowledge, and we got exactly that.”</p>
								</div>
								<div class="tc-right-1-bottom">
									<h4>Mollie <font color="#c4c4c4">(Lokafyer in Paris)</font></h4>
									<p>“On Saturday I met the lovely Rodney and Bruce, a couple from Canada, before meeting they had sent a fair bit of information telling me about them and what they wanted from their 2 and a half hours. It really helped having the extra information so I could plan the a tour suited to them. We started by Hotel de Ville and to be honest didn’t move too far away from it within the time we had! Seeing sites such as the Notre Dame and one of the many love bridges near by it. Knowing both of them had an interest in art I loved being able to show them Rivoli 59, a wonderful building along the busy street of rue de Rivoli which is jammed packed with artists. Open to the public for free you can watch the artists while they create in their studios. It was great to be able to share that with the guys and I even got to see some of Rodney’s own art work. We wandered a lot through a small area and it was lovely to be able to show them a city I love and see them falling a little bit in love with it too!“</p>
								</div>
							</div>
						</div>
						
						<div class="item">
							<div class="tc-left-1">
								</div>
							<div class="tc-right-1">
								<div class="tc-right-1-top">
									<h4>Fletcher Johnston <font color="#c4c4c4">(from Toronto, Canada)</font></h4>
									<p>“My wife, Hailey, and I met Katie at our Hotel on the day of our tour. We weren’t very helpful when Katie asked us if there was anything in particular we’d like to see; we just asked her to show us the Paris that “Lonely Planet” would never show us. Katie knew right away what to do. She took us to the nearby Lafayette Galleries and started taking us up escalators: one escalator after another, promising that she was going to show us something really special. Eventually we reached the roof of the mall, something we would have never found on our own, where we were able to look out across the rooftops of Paris seeing the entire city from above. We could see the Eiffel tower, the gold dome of Les Invalides, the Paris Opera House, and the Madeleine. It was a truly amazing sight, and something that Hailey and I really loved.”</p>
								</div>
								<div class="tc-right-1-bottom">
									<h4>Katie <font color="#c4c4c4">(Lokafyer in Paris)</font></h4>
									<p>“It was wonderful to see Paris through new eyes, we covered a lot of ground and saw a few things off the beaten track. I loved being able to answer questions and lead them in the right direction, and hear ‘wow’ when they finally saw the Eiffel tower !! We had a really nice afternoon and it showed that everyone is just a citizen of the world and can connect with anyone from anywhere else!”</p>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="tc-left-4">
								</div>
							<div class="tc-right-1">
								<div class="tc-right-1-top">
									<h4>Lothar Scholzen <font color="#c4c4c4">(from Munich, Germany)</font></h4>
									<p>“We really enjoyed the tour. Our guide Laura showed a lot of places she loves most to us. Especially the quiet back lanes with beautiful wall paintings we wouldn´t have seen without her. We talked a lot about daily business in Toronto, so we had the chance to get a read of real living in Toronto.”</p>
								</div>
								<div class="tc-right-1-bottom">
									<h4>Laura <font color="#c4c4c4">(Lokafyer in Toronto)</font></h4>
									<p>“It was wonderful to see Paris through new eyes, we covered a lot of ground and saw a few things off the beaten track. I loved being able to answer questions and lead them in the right direction, and hear ‘wow’ when they finally saw the Eiffel tower !! We had a really nice afternoon and it showed that everyone is just a citizen of the world and can connect with anyone from anywhere else!”</p>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="tc-left-2">
								</div>
							<div class="tc-right-2">
								<div class="tc-right-2-top">
									<h4>Cara McLauchlin <font color="#c4c4c4">(from Detroit, USA)</font></h4>
									<p>“We enjoyed our tour very much. It was great to see a part of Toronto that none of us had been to before (The Distillery District). Our guide, Laura was very friendly and got along wonderfully with our group. She gave us lots of recommendations for local restaurants.”</p>
								</div>
								<div class="tc-right-2-bottom">
									<h4>Laura <font color="#c4c4c4">(Lokafyer in Toronto)</font></h4>
									<p>“First Lokafy meetup was a success! They wanted to go to the distillery so I took them to the sake brewery and we did a tasting, most of their first time trying sake. We walked around, I told them a bit about the distillery and the spots I liked in there then we stopped for lunch at mill st brewery. By the time we were finished it was just past 4:30 so I sent them off to Soma chocolatier for dessert and with a list of recommendations for the rest of the weekend! They were lovely and it was so much fun!” </p>
								</div>
							</div>
						</div>	


												 
					</div>
			</div>
		</div>
		</div>

			
		<div class="clear"></div>		

		<div class="section padding-top white-background">
			<div class="container">			
				<div class="twelve columns" style="padding-right:15%;">
					<div class="space"></div>		
					<div class="header-text main-pages">
						<p>Where do you want to meet locals</p>

						<div class="city">
							<div class="city-left">
								<a href="city/toronto"><div class="city-left-top"></div></a>
								<div class="city-left-bottom">
									<a href="city/toronto"><h5>Toronto</h5></a>
								</div>
							</div>

							<div class="city-right">
								<a href="city/paris"><div class="city-right-top"></div></a>
								<div class="city-right-bottom">
									<a href="city/paris"><h5>Paris</h5></a>
								</div>
							</div>

						</div>	
					</div>
					<br><div class="moretoadd">Where else do you want to meet locals?<li class="icon-soc tipped" data-title="tell us"  data-tipper-options='{"direction":"top","follow":"true"}'>
									<a href="/contact" target="_blank">&#xf075;</a>
								</li></h5></div>

								<div id="contact_form_container" style="display:none">
						<div style="padding:10px;text-align:left">
						    <div id="contact-form" class="clearfix">
							    <h1>Get In Touch!</h1>
							    <ul id="errors" class="">
							        <li id="info">There were some problems with your form submission:</li>
							    </ul>
							    <p id="success">Thanks for your message! We will get back to you ASAP!</p>
							    <form method="post" action="process.php">
							        <label for="name">Name: <span class="required">*</span></label>
							        <input type="text" id="name" name="name" value="" placeholder="John Doe" required="required" autofocus="autofocus" />
							         
							        <label for="email">Email Address: <span class="required">*</span></label>
							        <input type="email" id="email" name="email" value="" placeholder="johndoe@example.com" required="required" />
							         
							        <label for="message">Message: <span class="required">*</span></label>
							        <textarea id="message" name="message" placeholder="Your message must be greater than 20 charcters" required="required" data-minlength="20"></textarea>
							         
							        <span id="loading"></span>
							        <input type="button" value="Send" id="submit-button" />
							    </form>
							</div>
					  	</div>
					</div>
				</div>	
			</div>
		</div>

		<div class="clear"></div>	

		<div class="footer-background">	
	
			<div class="parallax-footer"></div>	
														
			<div class="footer-container">		
				<div class="twelve columns">
					<div class="footer-img">
						<img src="{% static "images/logos/logo-small-white.png" %}" alt="">
					</div>	
				</div>
				<div class="twelve columns">
					<div class="social-container">
						<a href="http://www.seetorontonow.com/listings/lokafy/" target="_blank"><img class="torontotourism" src="{% static "images/icon/torontotourism.png" %}"></a>
						<a href="http://www.seetorontonow.com/listings/lokafy/" target="_blank"><img class="torontotourism" src="{% static "images/icon/torontotourism-2.png"%}"></a>
						<img class="separation" src="{% static "images/icon/separation.png" %}">	

						<div class="social-footer">
							<ul class="list-social">
								<li class="icon-soc tipped" data-title="facebook"  data-tipper-options='{"direction":"top","follow":"true"}'>
									<a href="https://www.facebook.com/Lokafy.co" target="_blank">&#xf09a;</a>
								</li>
							</ul>

							<ul class="list-social">
								<li class="icon-soc tipped" data-title="twitter"  data-tipper-options='{"direction":"top","follow":"true"}'>
									<a href="https://twitter.com/lokafytravel" target="_blank">&#xf099;</a>
								</li>
							</ul>

							<ul class="list-social">
								<li class="icon-soc tipped" data-title="google+"  data-tipper-options='{"direction":"top","follow":"true"}'>
									<a href="https://plus.google.com/+Lokafy/videos" target="_blank">&#xf0d5;</a>
								</li>
							</ul>

							<ul class="list-social">
								<li class="icon-soc tipped" data-title="instagram"  data-tipper-options='{"direction":"top","follow":"true"}'>
									<a href="https://instagram.com/lokafy/" target="_blank">&#xf16d;</a>
								</li>
							</ul>

							<ul class="list-social">
								<li class="icon-soc tipped" data-title="e-mail: info@lokafy.com"  data-tipper-options='{"direction":"top","follow":"true"}'>
									<a href="mailto:info@lokafy.com" target="_blank">&#xf0e0;</a>
								</li>
							</ul>

							<ul class="list-social">
								<li class="icon-soc tipped" data-title="phone: 1-800-943-9145"  data-tipper-options='{"direction":"top","follow":"true"}'>
									<a href="tel:800-943-9145" target="_blank">&#xf095;</a>
								</li>
							</ul>								
						</div>
					</div>
					<div class="footer-copy-text">
						<p>© Lokafy 2015</p>
					</div>	
				</div>

			
			</div>
		</div>
		
	</main> <!-- .cd-main -->

	<div class="cd-folding-panel">
		
		<div class="fold-left"></div> <!-- this is the left fold -->
		
		<div class="fold-right"></div> <!-- this is the right fold -->
		
		<div class="cd-fold-content">
			<!-- content will be loaded using javascript -->
		</div>

		<a class="cd-close" href="#0"></a>
	</div> <!-- .cd-folding-panel -->	

	<div class="scroll-to-top"></div>	
		
		

		
	<!-- JAVASCRIPT
    ================================================== -->
<script type="text/javascript" src="{% static "js/jquery-2.1.1.js"%}"></script>
<script type="text/javascript" src="{% static "js/html5lightbox/html5lightbox.js"%}"></script>
<script type="text/javascript" src="{% static "js/scroll.js"%}"></script>
<script type="text/javascript"> 
(function($) { "use strict";          
			jQuery(document).ready(function() {
				var offset = 350;
				var duration = 500;
				jQuery(window).scroll(function() {
					if (jQuery(this).scrollTop() > offset) {
						jQuery('.scroll-to-top').fadeIn(duration);
					} else {
						jQuery('.scroll-to-top').fadeOut(duration);
					}
				});
				
				jQuery('.scroll-to-top').click(function(event) {
					event.preventDefault();
					jQuery('html, body').animate({scrollTop: 0}, duration);
					return false;
				})

				jQuery('form.search a').click(function(){
					switch(jQuery('form.search select').val()){
						case 'toronto':
							window.location.href = "https://lokafy.com/city/toronto";
							break;
						case 'paris':
							window.location.href = "https://lokafy.com/city/paris";
							break;
					}
				})
			});
})(jQuery);
</script>  
<script type="text/javascript" src="{% static "js/classie.js"%}"></script>
<script type="text/javascript" src="{% static "js/cbpAnimatedHeader.min.js"%}"></script>
<script type="text/javascript" src="{% static "js/menu-classic.js"%}"></script> 
<script type="text/javascript" src="{% static "js/jquery.malihu.PageScroll2id.js"%}"></script>	
<script type="text/javascript" src="{% static "js/retina-1.1.0.min.js"%}"></script> 
<script type="text/javascript" src="{% static "js/jquery.easing.js"%}"></script>
<script type="text/javascript" src="{% static "js/jquery.fs.tipper.min.js"%}"></script> 
<script type="text/javascript" src="{% static "js/owl.carousel.min.js"%}"></script>
<script type="text/javascript" src="{% static "js/portfolio-ajax.js"%}"></script> 
<script type="text/javascript" src="{% static "js/jquery.fitvids.js"%}"></script> 
<script type="text/javascript"> 
(function($) { "use strict"; 
	$(".container").fitVids();	
})(jQuery);
</script>
<script type="text/javascript" src="{% static "js/jquery.parallax-1.1.3.js"%}"></script>	
<script type="text/javascript" src="{% static "js/jquery.counterup.min.js"%}"></script>
<script type="text/javascript" src="{% static "js/waypoints.min.js"%}"></script>
<script type="text/javascript" src="{% static "js/jquery.chaffle.min.js"%}"></script>

<script type="text/javascript">
(function($) { "use strict";
	$(document).ready(function() {
	  $('.chaffle').chaffle({
		speed: 10,
		time: 60
	  });
	}); 
})(jQuery);
</script>	
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvpnlHRidMIU374bKM5-sx8ruc01OvDjI"></script>
	<!-- ==================
		Go to this link to activated your google map API KEY https://developers.google.com/maps/documentation/javascript/tutorial#api_key 
		your key replace in script link for google map after .../maps/api/js?key=HERE_YOUR_API_KEY
		coordinates for map you can change in template.js file 
	================== -->	
<script type="text/javascript" src="{% static "js/template.js"%}"></script>
<script type="text/javascript" src="{% static "js/slides.js"%}"></script>
<script type="text/javascript">
 $(window).scroll(function() { // when the page is scrolled run this
    if($(this).scrollTop() > 900 && $(window).width() > 1200) { // if you're NOT at the top
        $('.booktour').fadeIn("fast");
    } else { // else
        $('.booktour').fadeOut("fast");
    }
    if($(this).scrollTop() > 650 && $(window).width() <= 1200) { // if you're NOT at the top
        $('.booktour-mobile').fadeIn("fast"); // fade in
    } else { // else
        $('.booktour-mobile').fadeOut("fast");  // fade out
    }
});
 </script>
<!-- End Document
================================================== -->
</body>
</html>
