<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]>
<!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

	<!-- Basic Page Needs
================================================== -->
	<meta charset="utf-8">
	<title>We Bridge the Gap between Travelers and Locals - Lokafy</title>
	<meta name="description" content="Lokafy Website">
	<meta name="author" content="Qing Li">
	<meta name="keyword" content="travel, tour, local, toronto, paris">

	<!-- Mobile Specific Metas
================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- CSS
================================================== -->
	{% load staticfiles %}
	{% load static %}
	{% static "" as baseUrl %}
	<link rel="stylesheet" href="{% static "css/lokafyer.css"%}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/featherlight.min.css"%}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-datetimepicker.min.css"%}">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script> -->

	<script>
	//Get the lokafyers
	angular.module('CityApp', [])
	//data = {{data}}

	/**
	 * Controller that connects business logic to the view.
	 */
	.controller('CityController', ['$scope', '$http', function($scope, $http) {
		$scope.city = '{{city}}';
		$scope.genderFilter = '';
		$scope.areaFilters = [];
		$scope.interestFilter = '';
		$scope.parentValue = 'Parent';
		$scope.languageFilter = 'English';
		$scope.chosenLokafyers = [];
		$scope.excludeIds = [15,19,39,48];
		$scope.requestData = {
			first_name: '',
			last_name: '',
			email: '',
			group_size: '',
			group_type: '',
			duration: '',
			time_of_day: '',
			date: '',
			destination: $scope.city,
			first_lokafyer: '',
			second_lokafyer: '',
			third_lokafyer: '',
			about: ''
		};

		$scope.changeArea = function (newArea, $event) {


		        var el = angular.element($event.target);
			var remove = false;

			var index = $scope.areaFilters.indexOf(newArea);
			if (index != -1 ){
				remove = true;
			}

			if(remove){
				$scope.areaFilters.splice(index, 1);
				var klass = $(el).attr('class');
				$('.' + klass).data('maphilight', {}).trigger('alwaysOn.maphilight');

			}else{

				$scope.areaFilters.push(newArea);

				var obj = {'alwaysOn': true};
				$(el).data('maphilight', obj).trigger('alwaysOn.maphilight');

			}
		}

		$scope.changeGender = function (newGender) {
			$scope.genderFilter = newGender;
		}
		$scope.changeInterest = function (newInterest) {
			if (newInterest === $scope.interestFilter){
				$scope.interestFilter = '';
			} else {
				$scope.interestFilter = newInterest;
			}
		}
		$scope.changeLanguage = function (newLanguage) {
			console.log(newLanguage);
			$scope.languageFilter = newLanguage;
		}
		$scope.setLokafyler = function (id) {
			if ($scope.chosenLokafyers.length == 3) {
				$('#selErrorModal').modal('show');
				return ;
			}
			//$('#selErrorModal').modal('show');
			if ($scope.chosenLokafyers.indexOf(id) > -1)
				return;
			$scope.chosenLokafyers.push(id);
		}
		$scope.desetLokafyler = function (id) {
			var index = $scope.chosenLokafyers.indexOf(id);
			if (index > -1) {
			    $scope.chosenLokafyers.splice(index, 1);
			}
		}
		$scope.setTest = function() {
			console.log("asdf");
		}
		$scope.LokafyerFilter = function (lokafyer) {
			// area
			var areaMatch = true;
			if ($scope.areaFilters.length){
				areaMatch = !!($scope.areaFilters.filter(function(n) {return lokafyer.areas.indexOf(n) != -1})).length;
			}
			// gender
			var genderMatch = true;
			if ($scope.genderFilter !== '' && $scope.genderFilter !== lokafyer.gender){
				genderMatch = false;
			}
			// interests
			var interestsMatch = true;
			if ($scope.interestFilter !== '' && lokafyer.interests.indexOf($scope.interestFilter) === -1){
				interestsMatch = false;
			}
			// language
			var languageMatch = true;
			if ($scope.languageFilter !== '' && lokafyer.languages.indexOf($scope.languageFilter) === -1){
				languageMatch = false;
			}
			return genderMatch && interestsMatch && languageMatch && areaMatch;
		}
		$scope.bookingRequest = function() {
			$scope.requestData.date = document.getElementById('dateInput').value;	
			console.log($scope.requestData.date);		
	    	$scope.requestData.first_lokafyer = $scope.chosenLokafyers[0];
	    	$scope.requestData.first_lokafyer = $scope.chosenLokafyers[1];
	    	$scope.requestData.first_lokafyer = $scope.chosenLokafyers[2];
	    	$scope.requestData.lokafyers = $scope.chosenLokafyers;

			$http.post('../../api/booking/request', $scope.requestData).
				then(function(data){
					console.log('Request sent successfully!');
					console.log(data);
				}).catch(function(err){
					console.log("Error");
					console.log(err);
				});
		}
		$http.get('../../api/city/{{city}}').
		    success(function(data, status, headers, config) {


		    	$scope.data = data;
		    	console.log(data);
		    	$scope.languages = [];
		    	angular.forEach($scope.data.lokafyers, function (lokafyer) {
		    		angular.forEach(lokafyer.languages, function (language){
		    			if ($scope.languages.indexOf(language) === -1){
		    				$scope.languages.push(language);
		    			}
		    		});
		    		
		    	});
		    }).
		    error(function(data, status, headers, config) {
		      // log error
		    });
	}]);
	</script>
		
	<!-- Favicons
================================================== -->
	<link rel="shortcut icon" href="{% static "images/icon/favicon.png"%}">
	<link rel="apple-touch-icon" href="{% static "images/icon/apple-touch-icon.png"%}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static "images/icon/apple-touch-icon-72x72.png"%}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static "images/icon/apple-touch-icon-114x114.png"%}">
	
</head>

<body ng-app="CityApp" ng-controller="CityController" ng-init="city='{{city}}'">

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WR84ZN"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WR84ZN');</script>
<!-- End Google Tag Manager -->

		<div class="body-container">
			<div class="body-container-top">
				<div id="navigation" class="navigation">
					<div class="nav_logo">
						<a href="http://lokafy.com"><img class="logo" src="{% static "images/logos/logo-blue.png"%}"></a>
					</div>
					<div class="nav_container">
						<p>Choose the Lokafyers you'd like to meet or go directly to Finalize the Booking and we'll choose the right Lokafyer for you.</p>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#booking-request-modal" >Finalize Booking</button> <!-- data-featherlight="#booking-request-form" -->
					</div>
					<!-- Commented by Yuki
					<p class="city">{{data.city}}</p>
					-->
				</div>
			</div>

			<div class="body-container-bottom">
				<div class="main">
					<div id="filter" class="filter">
<!--
						<div class="map">
							<p>Map</p>
                            <a href="#" data-featherlight="#maps">
                                <img   src="/static/images/lokafyer/map-{{city_obj.code}}.png">
                            </a>
						</div>
-->
						<div class="gender">
							<p>Gender</p>
							<div class="gender-icon">
								{% verbatim %}
								<a href="#" ng-click="changeGender('')">
									<img ng-src="{{genderFilter !== '' && '/static/images/lokafyer/both-icon.png' ||'/static/images/lokafyer/after/both-icon.png'}}">
								</a>
								<a href="#" ng-click="changeGender('F')">
									<img ng-src="{{genderFilter !== 'F' && '/static/images/lokafyer/female-icon.png' ||'/static/images/lokafyer/after/female-icon.png'}}">
								</a>
								<a href="#" ng-click="changeGender('M')">
									<img ng-src="{{genderFilter !== 'M' && '/static/images/lokafyer/male-icon.png' ||'/static/images/lokafyer/after/male-icon.png'}}">
								</a>
								{% endverbatim %}
							</div>
						</div>
						<!--<div class="age">
							<p>Age</p><br>
							<div class="age-slider"></div>
						</div>-->
						<div class="interests">
							<p>interests</p>
							<div class="icon-container">
								{% verbatim %}
								<a href="#" ng-click="changeInterest('Art')">
									<img ng-src="{{interestFilter !== 'Art' && '/static/images/lokafyer/art.png' || '/static/images/lokafyer/after/art.png'}}">
								</a>
								<a href="#" ng-click="changeInterest('Music')">
									<img ng-src="{{interestFilter !== 'Music' && '/static/images/lokafyer/music.png' || '/static/images/lokafyer/after/music.png'}}">
								</a>
								<a href="#" ng-click="changeInterest('History')">
									<img ng-src="{{interestFilter !== 'History' && '/static/images/lokafyer/history.png' || '/static/images/lokafyer/after/history.png'}}">
								</a>

								<a href="#" ng-click="changeInterest('Fashion')">
									<img ng-src="{{interestFilter !== 'Fashion' && '/static/images/lokafyer/fashion.png' || '/static/images/lokafyer/after/fashion.png'}}">
								</a>
								<a href="#" ng-click="changeInterest('Sports')">
									<img ng-src="{{interestFilter !== 'Sports' && '/static/images/lokafyer/sports.png' || '/static/images/lokafyer/after/sports.png'}}">
								</a>
								<a href="#" ng-click="changeInterest('Food')">
									<img ng-src="{{interestFilter !== 'Food' && '/static/images/lokafyer/food.png' || '/static/images/lokafyer/after/food.png'}}">
								</a>
								<a href="#" ng-click="changeInterest('Photography')">
									<img ng-src="{{interestFilter !== 'Photography' && '/static/images/lokafyer/photography.png' || '/static/images/lokafyer/after/photography.png'}}">
								</a>
								<a href="#" ng-click="changeInterest('Nightlife')">
									<img ng-src="{{interestFilter !== 'Nightlife' && '/static/images/lokafyer/nightlife.png' || '/static/images/lokafyer/after/nightlife.png'}}">
								</a>
								<a href="#" ng-click="changeInterest('Film')">
									<img ng-src="{{interestFilter !== 'Film' && '/static/images/lokafyer/film.png' || '/static/images/lokafyer/after/film.png'}}">
								</a>
								<a href="#" ng-click="changeInterest('Outdoors')">
									<img ng-src="{{interestFilter !== 'Outdoors' && '/static/images/lokafyer/outdoors.png' || '/static/images/lokafyer/after/outdoors.png'}}">
								</a>
								<a href="#" ng-click="changeInterest('Travel')">
									<img ng-src="{{interestFilter !== 'Travel' && '/static/images/lokafyer/travel.png' || '/static/images/lokafyer/after/travel.png'}}">
								</a>
								<a href="#" ng-click="changeInterest('Dance')">
									<img ng-src="{{interestFilter !== 'Dance' && '/static/images/lokafyer/dance.png' || '/static/images/lokafyer/after/dance.png'}}">
								</a>
								{% endverbatim %}
							</div>
						</div>
						<div class="languages">
							<p>languages</p>
							<nav>
								<ul>
									<li> 
										{% verbatim %}
										<a href="#">{{languageFilter}}</a>
										<ul class="fallback">
											
												<li ng-repeat="language in languages"><a href="#" ng-click="changeLanguage(language)">{{language}}</a></li>
											{% endverbatim %}
										</ul>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="content-container">
						<div class="content">
							<div class="content-row">
								{% verbatim %}
								<span ng-repeat="lokafyer in data.lokafyers | filter:LokafyerFilter">
									<a href="#" data-target="#lightbox-{{lokafyer.id}}" data-toggle="modal" ng-if="(excludeIds.indexOf(lokafyer.id) < 0)"> <!-- data-featherlight="#lightbox-{{lokafyer.id}}" -->
									<!-- <a href="#" data-featherlight="#lightbox-{{lokafyer.id}}"> -->
										<div class="content-lokafyer " style="margin-right:0px;" ng-class = "{'content-lokafyer-selected': (chosenLokafyers.indexOf(lokafyer.id) > -1)}">
											<!--<div class="profile"><img src="/static/images/lokafyer/{{lokafyer.id}}.jpg"></div>-->
											<div class="profile"><img src="/static/images/lokafyers/{{lokafyer.id}}.jpg"></div>
											<div class="intro">
												<h4>{{lokafyer.first_name}} </h4>
												<p>{{lokafyer.about_short}}</p>
											</div>
										</div>
									</a>
								</span>
								{% endverbatim %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	<!-- Hidden
================================================== -->

		<div class="lightbox-map" id="maps">
			<div class="map-container">

				<div class="map-container-left">
                    <img class="map-img" usemap="#map-schema" src="/static/images/lokafyer/map-{{city_obj.code}}-big.png">
                    <map name="map-schema">

                        {% for area in city_obj.areas.all %}
                        <area href="#" shape="poly" coords="{{area.geometry}}" class="area{{area.pk}}"  data-maphilight='{}' title="{{area.name}}" alt="{{area.name}}" data-description="{{area.description}}" ng-click="changeArea('{{area.code}}', $event)">
                        {% endfor %}

                    </map>

				</div>
				
				<div class="map-container-right">
					<div class="map-container-right-top">
                        <!--
						<p>Introduction</p>
						<p>texttexttexttexttexttexttexttexttext</p>
                        -->
					</div>
                    <!--
					<div class="map-container-right-bottom">
						<a href="#" data-featherlight="#p1"><img src="images/lokafyer/anna.jpg"></a>
						<a href="#" data-featherlight="#p1"><img src="images/lokafyer/anna.jpg"></a>
						<a href="#" data-featherlight="#p1"><img src="images/lokafyer/anna.jpg"></a>
					</div>
                    -->
				</div>
			</div>
		</div>

		<!-- {% verbatim %} -->
		<span ng-repeat="lokafyer in data.lokafyers">
			<div class="modal fade lightbox-profile" id="lightbox-{{lokafyer.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">		
			    	<div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			          <h4>{{lokafyer.first_name}}</h4>
			        </div>		      
			      <div class="modal-body {{lokafyer.age_range}}">
			      	<img src="/static/images/lokafyers/{{lokafyer.id}}.jpg">
					<button class="btn btn-primary" ng-click="setLokafyler(lokafyer.id)" ng-if="(chosenLokafyers.indexOf(lokafyer.id) < 0)">Select</button>
					<button class="btn btn-primary " ng-click="desetLokafyler(lokafyer.id)" ng-if="(chosenLokafyers.indexOf(lokafyer.id) > -1)">Deselect</button>
					<p>
						<strong>Age:</strong> {{lokafyer.age_range}}
						<br><br>
						<strong>Languages:</strong>{{lokafyer.lightbox_languages}}
						<br><br>
						<strong>Areas I'm Familiar With:<br></strong>
						{{lokafyer.lightbox_areas}}
						<br><br>
						<strong>What I like to do on Sunny Afternoons:<br></strong>
						{{lokafyer.lightbox_sunny}}
						<br><br>
						<strong>A Perfect Night Out is:<br></strong>
						{{lokafyer.lightbox_night}}
						<br><br>
						<strong>How I get Around: <br></strong>{{lokafyer.lightbox_transportation}}
						<br><br>
						<strong>About Me:<br></strong>
						{{lokafyer.about}}
					</p>
			      </div>			      
			    </div>
			  </div>
			</div>
		</span>


			 <!-- <span ng-repeat="lokafyer in data.lokafyers">
				<div class="lightbox" id="lightbox-{{lokafyer.id}}">
					<img src="/static/images/lokafyer/anna.jpg">
					<button class="btn btn-primary" style="margin-left: 270px;
margin-right: 225px;" ng-click="parentValue = 0">Select{{parentValue}}</button>
					<p>
						Age: {{lokafyer.age_range}}
						<br><br>
						Languages:{{lokafyer.lightbox_languages}}
						<br><br>
						Areas I'm Familiar With:<br>
						{{lokafyer.lightbox_areas}}
						<br><br>
						What I like to do on Sunny Afternoons:<br>
						{{lokafyer.lightbox_sunny}}
						<br><br>
						A Perfect Night Out is:<br>
						{{lokafyer.lightbox_night}}
						<br><br>
						How I get Around: <br>{{lokafyer.lightbox_transportation}}
						<br><br>
						About Me:<br>
						{{lokafyer.about}}
					</p>
				</div>	
			</span>  -->
		<!-- {% endverbatim %} -->

		<!-- Booking form lightbox -->
		{% verbatim %}
		<div class="modal fade " id="booking-request-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
		  <div class="modal-dialog" style="width:650px;">
		    <div class="modal-content">
		    	<div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		          <h4>Booking Request</h4>
		        </div>			      
		      <div class="modal-body">
		      	<!-- <div class="form-group">
					<img class="" src="/static/images/logos/logo-blue.png">
				</div>-->
				<div class="form-group">
					My name is 
					<input type="text" placeholder="First name" class="form-control display-inherit" ng-model="requestData.first_name" > <input type="text" placeholder="Last name" class="form-control display-inherit" ng-model= "requestData.last_name">
				</div>
				<div class="form-group">
					My email address is <input type="email" placeholder="Email Address" class="form-control display-inherit" ng-model = "requestData.email" >
				</div>
				<div class="form-group">
					I can be reached at <input type="text" placeholder="Mobile Number" class="form-control display-inherit" ng-model="requestData.mobile_no">
				</div>
				<div class="form-group">
					I'm travelling with <input type="number" class="form-control display-inherit" style="width:70px;" ng-model="requestData.group_size"> other people.
				</div>
				<div class="form-group">
					We would like a tour for 
					<input type="number" class="form-control display-inherit" style="width:70px;" ng-model="requestData.duration"> hours 
					<select ng-model="requestData.time_of_day">
						<option value="0">Morning</option>
						<option value="1">Afternoon</option>
						<option value="2">Evening</option>
						<!-- <option value="3">Specific Time</option> -->
					</select>
					 on 
					 <div style="display:inline-block; vertical-align:middle; width:150px;"><div class='input-group date' id='datetimepicker1'>
	                    <input id="dateInput" type='text' class="form-control" ng-model="requestData.date"/>
	                    <span class="input-group-addon">
	                        <span class="glyphicon glyphicon-calendar"></span>
	                    </span>
	                </div></div>
					<!-- <input type="text" placeholder="Tour Date" class="form-control display-inherit" ng-model="requestData.date"> -->
				</div>
				<div class="form-group about-us">
					<span>About me: </span>
					<textarea class="form-control display-inherit" ng-model="requestData.about"></textarea>
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-primary" ng-click="bookingRequest()">Submit Booking Request</button>
				</div>
		      </div>			      
		    </div>
		  </div>
		</div>

		<!-- <div id="booking-request-form" class="lightbox">
			<div class="form-group">
				<img class="" src="/static/images/logos/logo-blue.png">
			</div>
			<div class="form-group">
				My name is 
				<input type="text" placeholder="First name" class="form-control display-inherit" > <input type="text" placeholder="Last name" class="form-control display-inherit">
			</div>
			<div class="form-group">
				My email address is <input type="email" placeholder="Email Address" class="form-control display-inherit">
			</div>
			<div class="form-group">
				I can be reached at <input type="text" placeholder="Mobile Number" class="form-control display-inherit">
			</div>
			<div class="form-group">
				I'm travelling with <input type="number" class="form-control display-inherit"> other people.
			</div>
			<div class="form-group">
				We would like a tour in the 
				<select>
					<option value="0">Morning</option>
					<option value="1">Afternoon</option>
					<option value="2">Evening</option>
					<option value="3">Specific Time</option>
				</select>
				 on 
				<input type="text" placeholder="Tour Date" class="form-control display-inherit">
			</div>
			<div class="form-group about-us">
				<span>About me: </span>
				<textarea class="form-control display-inherit"></textarea>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-primary" ng-click="setLokafyler()">Submit Booking Request</button>
			</div>

		</div> -->
		{% endverbatim %}
		<!-- end Booking form -->

		<!-- Modal -->
		<div class="modal fade" tabindex="-1" role="dialog" id="selErrorModal" aria-labelledby="selErrorModal" aria-hidden="true">
		  <div class="modal-dialog modal-sm">
		    <div class="modal-content">
		      <h4>Only 3 Lokafyers can be selected. Please deselect a Lokafyer first in order to make this selection</h4>
		    </div>
		  </div>
		</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="setTest();">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="{% static "js/jquery-2.1.1.js"%}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
<script type="text/javascript" src="{% static "js/featherlight.min.js"%}"></script>
<script type="text/javascript" src="{% static "js/jquery.maphilight.min.js"%}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static "js/bootstrap-datetimepicker.min.js"%}"></script>
<script type="text/javascript">
$('nav li ul').hide().removeClass('fallback');
$('nav li').hover(
  function () {
    $('ul', this).stop().slideDown(100);
  },
  function () {
    $('ul', this).stop().slideUp(100);
  }
);
</script>
<script type="text/javascript">
$(document).ready(function() {

  var active1 = false;
  var active2 = false;
  var active3 = false;
  var active4 = false;

    $('.parent').on('mousedown touchstart', function() {
    
    if (!active1) $(this).find('.paris').css({'background-color': '#3984c7', 'transform': 'translate(80px,0px)'});
    else $(this).find('.paris').css({'background-color': 'dimGray', 'transform': 'none'}); 
     if (!active2) $(this).find('.toronto').css({'background-color': '#fff', 'transform': 'translate(153px,0px)'});
    else $(this).find('.toronto').css({'background-color': 'darkGray', 'transform': 'none'});
      if (!active3) $(this).find('.newyork').css({'background-color': 'gray', 'transform': 'translate(105px,60px)'});
    else $(this).find('.newyork').css({'background-color': 'silver', 'transform': 'none'});
      if (!active4) $(this).find('.beijing').css({'background-color': 'gray', 'transform': 'translate(125px,100px)'});
    else $(this).find('.beijing').css({'background-color': 'silver', 'transform': 'none'});
    active1 = !active1;
    active2 = !active2;
    active3 = !active3;
    active4 = !active4;
      
    });

});</script>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
        	format: 'L'
        });
    });
</script>

<script>
    $(document).ready(function(){

        $.featherlight.defaults.afterOpen = function(){
            $('.map-img').maphilight();    

            $('map area').on('mouseover', function(){
                var el = $(this);
                $('.map-container-right-top').html(el.data('description'));
                
            });

            $('map area').on('mouseleave', function(){
                $('.map-container-right-top').html('');
                
            });

        } 
        $.fn.maphilight.defaults = {
            fill: true,
            fillColor: 'FEC91B',
            fillOpacity: 0.6,
            stroke: true,
            strokeColor: 'FEC91B',
            strokeOpacity: 1,
            strokeWidth: 1,
            fade: true,
            alwaysOn: false,
            neverOn: false,
            groupBy: false,
            wrapClass: true,
            shadow: true,
            shadowX: 0,
            shadowY: 0,
            shadowRadius: 6,
            shadowColor: 'FEC91B',
            shadowOpacity: 0.8,
            shadowPosition: 'outside',
            shadowFrom: false
        }

    });
</script>

</body>

</html>
