
<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]>
<!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

	<!-- Basic Page Needs
================================================== -->
	<meta charset="utf-8">
	<title>We Bridge the Gap between Travelers and Locals - Lokafy</title>
	<meta name="description" content="Lokafy Website">
	<meta name="author" content="Qing Li">
	<meta name="keyword" content="travel, tour, local, toronto, paris">


	<!-- Mobile Specific Metas
================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- CSS
================================================== -->
{% load staticfiles %}
	<link rel="stylesheet" href="{% static "css/request-booking.css"%}"/>
      <link rel="stylesheet" href="{% static "css/pikaday.css"%}">
    <link rel="stylesheet" href="{% static "css/site.css"%}">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		
	<!-- Favicons
================================================== -->
	<link rel="shortcut icon" href="{% static "images/icon/favicon.png"%}">
	<link rel="apple-touch-icon" href="images/icon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/icon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/icon/apple-touch-icon-114x114.png">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

	<script>
    angular.module('BookingApp', [])
    .controller('BookingController', ['$scope', '$http', '$window', function($scope, $http, $window) {
      $scope.lokafyers = [{{first_lokafyer_id}}, {{second_lokafyer_id}}, {{third_lokafyer_id}}];
      $scope.city = '{{city}}';
      $scope.missingFields = false;
      $scope.missingField = '';
      $scope.invalidField = '';
      $scope.submitFailure = false;
      $scope.submitSuccess = false;
      $scope.total = 0;
      $scope.hourlyRate = 45;
      $scope.contactForm = {};
      $scope.invalidField = '';
      $scope.booking = {};
      
      $scope.$watch('booking', function (newValue, oldValue) {
        if (parseInt($scope.booking.tourDuration, 10)) {
          $scope.total = $scope.hourlyRate * $scope.booking.tourDuration;
        } else {
          $scope.booking.tourDuration = '';
        }
      }, true); 


      $scope.requestBooking = function () {
        valid = $scope.validateSubmission();
        if (valid) {
          $scope.booking.lokafyers = $scope.lokafyers;
          $scope.booking.destination = $scope.city;
          console.log($scope.booking);
          $http.post('../../api/booking/request', $scope.booking).
            then(function(data){
              $scope.submitSuccess = true;
            }).catch(function(err){
              $scope.submitSuccess = false;
            });
        }
      }

      var emailRegex = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
      $scope.validateSubmission = function () {
        $scope.missingField = '';

        console.log($scope.booking);
        
        if ($scope.booking.firstName === undefined || $scope.booking.firstName === ''){
          $scope.missingField = 'your first name';
          return;
        }

        if ($scope.booking.lastName === undefined || $scope.booking.lastName === '') {
          $scope.missingField = 'your last name';
          return;
        }

        if ($scope.booking.phone === '' || $scope.booking.phone === undefined) {
          $scope.missingField = 'your phone';
          return;
        }

        if ($scope.booking.email === '' || $scope.booking.email === undefined) {
          $scope.missingField = 'your email';
          return;
        }

        var validEmail = emailRegex.test($scope.booking.email);
        if (!validEmail){
          $scope.missingField = 'a valid email';
          return;
        }

        if ($scope.booking.groupType === '' || $scope.booking.groupType === undefined){
          $scope.missingField = 'group type';
          return;
        }

        if ($scope.booking.groupType !== undefined && $scope.booking.groupType !== 'solo') {
          if ($scope.booking.groupSize === undefined || $scope.booking.groupSize === '') {
            $scope.missingField = 'group size';
            return;
          }
        }

        if ($scope.booking.tourDuration === undefined || $scope.booking.tourDuration === ''){
          $scope.missingField = 'a tour duration';
          return;
        }

        if ($scope.booking.timeOfDay === undefined || $scope.booking.timeofDay === ''){
          $scope.missingField = 'a time of day';
          return;
        }

        if ($scope.booking.aboutMe === undefined || $scope.booking.aboutMe === '') {
          $scope.missingField = 'a little about yourself'
        }

        return true;
      }

      $scope.submitForm = function() {
        $scope.missingFields = false;
        $scope.invalidEmail = false;
        $scope.submitFailure = false;
        $scope.submitSuccess = false;
        if ($scope.contactForm.name == undefined || $scope.contactForm.email == undefined || $scope.contactForm.phone == undefined || $scope.contactForm.message == undefined) {
          $scope.missingFields = true;
          return;
        }
        
        var validEmail = emailRegex.test($scope.contactForm.email);
        if (!validEmail){
          $scope.invalidEmail = true;
          return;
        } 
      }

    }]);
  </script>

</head>

<body ng-app="BookingApp" ng-controller="BookingController">	

  <div class="request-booking-page">
      
    <div class="request-container-top"><h4>Request {{city}} Booking</h4></div>
    
    <div class="request-booking-container">
      

      <form>
      <div class="rb-name">
        <p>My name is&nbsp;&nbsp;<input ng-model="booking.firstName" type="text" name="first-name" id="first-name" placeholder="First Name" class="required">&nbsp;&nbsp;<input ng-model="booking.lastName" type="text" name="last-name" id="last-name" placeholder="Last Name" class="required">.</p>
      </div>
     
      <div class="rb-contact">
        <p>I can be reached at&nbsp;&nbsp;<input ng-model="booking.email" type="text" name="email" id="email" placeholder="Email Address" class="required">&nbsp;&nbsp;or&nbsp;&nbsp;<input ng-model="booking.phone" type="text" name="cell" id="cell" placeholder="Mobile Number" class="required">.</p>   
      </div>

      <div class="rb-travel">
        <p>I am travelling&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.&nbsp;&nbsp;
    
          <span ng-show="(booking.groupType !== 'solo') && booking.groupType">There are&nbsp;&nbsp;<input type="text" ng-model="booking.groupSize" name="people" id="people" placeholder="#" class="required">&nbsp;&nbsp;people in my group.&nbsp;</p></span>
      </div>

      <div class="rb-time">
        <p><span ng-show=" !booking.groupType || booking.groupType === 'solo'">I</span><span ng-show="booking.groupType && (booking.groupType !== 'solo')">We</span> would like a tour for&nbsp;&nbsp;<input ng-model="booking.tourDuration" type="text" name="hour" id="hour" placeholder="#" class="required"> hour<span ng-hide="booking.tourDuration == 1">s</span> in the&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;on&nbsp;</p>

      </div>

      <div class="rb-lokafyer">
        <p>Selected Lokafyers: </p>
        <div class="rb-lokafyer-1"><img class="lokafyer-image" src="/static/images/lokafyers/{{first_lokafyer_id}}.jpg" /></div>
        <div class="rb-lokafyer-2"><img class="lokafyer-image" src="/static/images/lokafyers/{{second_lokafyer_id}}.jpg" /></div>
        <div class="rb-lokafyer-3"><img class="lokafyer-image" src="/static/images/lokafyers/{{third_lokafyer_id}}.jpg" /></div>
      </div>

      <div class="rb-discover">
        <p>How did you discover Lokafy?&nbsp;<input ng-model="booking.discover" type="text" name="discover" id="dicover" placeholder="" class="required">&nbsp;Referral Code:&nbsp;<input ng-model="booking.referralCode" type="text" name="referral" id="referral" placeholder="" class="required"></p>

      </div>

      <div class="rb-textarea">
        <div class="rb-about">
          <p>About <span ng-show=" !booking.groupType || booking.groupType === 'solo'">me</span><span ng-show="booking.groupType && (booking.groupType !== 'solo')">us</span>:<br><textarea ng-model="booking.aboutMe" name="aboutme" id="aboutme" class="required"></textarea></p>
        </div>

        <div class="rb-show">
          <p><span ng-show=" !booking.groupType || booking.groupType === 'solo'">I</span><span ng-show="booking.groupType && (booking.groupType !== 'solo')">We</span>'d like the Lokafyer to show me:<br><textarea ng-model="booking.requestedDetails" name="showme" id="showme" class="required"></textarea></p>
        </div>
      </div>

      <div class="rb-menu-1">

        <select ng-model="booking.groupType" name="travel" class="ui dropdown" id="select">
          <option value=""></option>
          <option value="solo">solo</option>
          <option value="with family">with family</option>
          <option value="with friends">with friends</option>
          <option value="with colleagues">with colleagues</option>
          <option value="with my lover">with my lover</option>
        </select>
      </div>

     <div class="rb-menu-2">
       
        <select ng-model="booking.timeOfDay" name="city" class="ui dropdown" id="select">
          <option value=""></option>
          <option value="morning">morning</option>
          <option value="afternoon">afternoon</option>
          <option value="night">evening</option>
        </select>
      </div>    

    <div class="dates">
    <input type="text" id="datepicker">
    </div>
    {% verbatim %}
    <!-- <p class="width:100px">Total Cost:&nbsp;&nbsp;$&nbsp;&nbsp;<span ng-show="total > -1">{{total}}</span></p> -->
    </div>
    <div class="rb-submit">
      <div class="rb-cost">
        
        
        
      </div>
        <!--
        <input type="submit" class="rb-submit-1" value="finalize booking" />
        -->
        <span ng-show="missingField != ''" class="error-message" >Please enter {{missingField}}</span>
        <input ng-click="requestBooking()" type="submit" class="rb-submit-1" value="send booking inquiry" />
    </div>
    {% endverbatim %}

    </form>
  </div>
</body>

</html>