﻿<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]>
<!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

	<!-- Basic Page Needs
================================================== -->
	<meta charset="utf-8">
	<title>We Bridge the Gap between Travelers and Locals - Lokafy</title>
	<meta name="description" content="Lokafy Website">
	<meta name="author" content="Qing Li">
	<meta name="keyword" content="travel, tour, local, toronto, paris">

	<!-- Mobile Specific Metas
================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- CSS
================================================== -->
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static "css/base.css"%}"/>
	<link rel="stylesheet" href="{% static "css/skeleton.css"%}"/>
	<link rel="stylesheet" href="{% static "css/layout.css"%}"/>
	<link rel="stylesheet" href="{% static "css/font-awesome.css"%}" />
	<link rel="stylesheet" href="{% static "css/ionicons.css"%}"/>
	<link rel="stylesheet" href="{% static "css/retina.css"%}"/>
	<link rel="stylesheet" href="{% static "css/owl.carousel.css"%}"/>
	<link rel="stylesheet" href="{% static "css/owl.transitions.css"%}"/>
	<link rel="stylesheet" href="{% static "css/search.css"%}"/>
	<link rel="stylesheet" href="{% static "css/bootstrap.css"%}">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		
	<!-- Favicons
================================================== -->
	<link rel="shortcut icon" href="{% static "images/icon/favicon.png"%}">
	<link rel="apple-touch-icon" href="{% static "images/icon/apple-touch-icon.png"%}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static "images/icon/apple-touch-icon-72x72.png"%}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static "images/icon/apple-touch-icon-114x114.png"%}">
	
	<script type="text/javascript" src="{% static "js/modernizr.js"%}"></script>
	<script src="{% static "js/modernizr.custom.72111.js"%}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="{% static "js/bootstrap.js"%}"></script>	
</head>

<body>	

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WR84ZN"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WR84ZN');</script>
<!-- End Google Tag Manager -->
	
	<!-- Navigation And Logo
================================================== -->
	
		<div id="menu-wrap" class="menu-back cbp-af-header">
			<div class="container">
				<div class="twelve columns">
					<a href="http://lokafy.com"><div class="logo"></div></a>
					<div class="booktour" >
						<div class="dropdown" >
							<button class="btn btn-primary dropdown-toggle" id="booktour" type="button" data-toggle="dropdown">BOOK TOUR<span class="caret" style="margin-left:1px;"></span></button>
								<ul class="dropdown-menu">
									<li><a href="http://lokafy.com/city/toronto">Toronto</a></li>
									<li><a href="http://lokafy.com/city/paris">Paris</a></li>
								</ul>
						</div>
					</div>
					<div class="booktour-mobile">
						<div class="dropdown" >
							<button class="btn btn-primary dropdown-toggle" id="booktour-mobile" type="button" data-toggle="dropdown">BOOK TOUR<span class="caret" style="margin-left:3px;" ></span></button>
								<ul class="dropdown-menu">
									<li><a href="http://lokafy.com/city/toronto">Toronto</a></li>
									<li><a href="http://lokafy.com/city/paris">Paris</a></li>
								</ul>
						</div>
					</div>
					<ul class="slimmenu">

						<li>
						<a href="/pricing">pricing</a>
						</li>
						<li>
							<a href="/reviews">reviews</a>
						</li>
						<li>
							<a href="/faqs">faqs</a>
						</li>
						<li>
							<a href="/about">about</a>
						</li>
						<li>
							<a href="http://blog.lokafy.com" target="_blank">blog</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>	

	<!-- Primary Page Layout
	================================================== -->

	<main class="cd-main">
		<div class="reviews-container">
			<div class="price-container-top"><h4>reviews</h4></div>
			<div class="reviews-container-top-1"></div>
			<div class="reviews-container-top-2"></div>

			<div class="reviews-container-1">
				<div class="reviews-container-1-left"></div>
				<div class="reviews-container-1-right">
					<div class="reviews-text-1">
						<br><br>
						<h5>Rodney Victor <font color="#c4c4c4">(from Vancouver, Canada)</font></h5>
						<p>“Very enjoyable, the tour was very personal, with lots of attention to our interests and preferences. Also, during our tour, our guide gave us options along the way, which was so cool. It was like a “choose-your-own-adventure”.  We were not totally sure what to expect, and yet it was perfect. I did expect an intimate tour from somebody with lots of local knowledge, and we got exactly that.”</p>
									
						<h5>Mollie <font color="#c4c4c4">(Lokafyer in Paris)</font></h5>
						<p>"On Saturday I met the lovely Rodney and Bruce, a couple from Canada, before meeting they had sent a fair bit of information telling me about them and what they wanted from their 2 and a half hours. It really helped having the extra information so I could plan the a tour suited to them. We started by Hotel de Ville and to be honest didn’t move too far away from it within the time we had! Seeing sites such as the Notre Dame and one of the many love bridges near by it. Knowing both of them had an interest in art I loved being able to show them Rivoli 59, a wonderful building along the busy street of rue de Rivoli which is jammed packed with artists. Open to the public for free you can watch the artists while they create in their studios. It was great to be able to share that with the guys and I even got to see some of Rodney’s own art work. We wandered a lot through a small area and it was lovely to be able to show them a city I love and see them falling a little bit in love with it too!“</p>
					</div>
				</div>
			</div>
			<div class="reviews-container-2">
				<div class="reviews-container-2-left">
					<div class="reviews-text-2">
						<br><br>
						<h5>Fletcher Johnston <font color="#c4c4c4">(from Toronto, Canada)</font></h5>
						<p>“My wife, Hailey, and I met Katie at our Hotel on the day of our tour. We weren’t very helpful when Katie asked us if there was anything in particular we’d like to see; we just asked her to show us the Paris that “Lonely Planet” would never show us. Katie knew right away what to do. She took us to the nearby Lafayette Galleries and started taking us up escalators: one escalator after another, promising that she was going to show us something really special. Eventually we reached the roof of the mall, something we would have never found on our own, where we were able to look out across the rooftops of Paris seeing the entire city from above. We could see the Eiffel tower, the gold dome of Les Invalides, the Paris Opera House, and the Madeleine. It was a truly amazing sight, and something that Hailey and I really loved.”</p>
									
						<h5>Katie <font color="#c4c4c4">(Lokafyer in Paris)</font></h5>
						<p>“It was wonderful to see Paris through new eyes, we covered a lot of ground and saw a few things off the beaten track. I loved being able to answer questions and lead them in the right direction, and hear ‘wow’ when they finally saw the Eiffel tower !! We had a really nice afternoon and it showed that everyone is just a citizen of the world and can connect with anyone from anywhere else!”</p>
					</div>
				</div>
				<div class="reviews-container-2-right">
					<div class="reviews-text-2-2">
						<br><br>
						<h5>Fletcher Johnston <font color="#c4c4c4">(from Toronto, Canada)</font></h5>
						<p>“My wife, Hailey, and I met Katie at our Hotel on the day of our tour. We weren’t very helpful when Katie asked us if there was anything in particular we’d like to see; we just asked her to show us the Paris that “Lonely Planet” would never show us. Katie knew right away what to do. She took us to the nearby Lafayette Galleries and started taking us up escalators: one escalator after another, promising that she was going to show us something really special. Eventually we reached the roof of the mall, something we would have never found on our own, where we were able to look out across the rooftops of Paris seeing the entire city from above. We could see the Eiffel tower, the gold dome of Les Invalides, the Paris Opera House, and the Madeleine. It was a truly amazing sight, and something that Hailey and I really loved.”</p>
									
						<h5>Katie <font color="#c4c4c4">(Lokafyer in Paris)</font></h5>
						<p>“It was wonderful to see Paris through new eyes, we covered a lot of ground and saw a few things off the beaten track. I loved being able to answer questions and lead them in the right direction, and hear ‘wow’ when they finally saw the Eiffel tower !! We had a really nice afternoon and it showed that everyone is just a citizen of the world and can connect with anyone from anywhere else!”</p>
					</div>
				</div>
			</div>
			
			<div class="reviews-container-3">
				<div class="reviews-container-3-left"></div>
				<div class="reviews-container-3-right">
					<div class="reviews-text-3">
						<br><br>
						<h5>Lothar Scholzen <font color="#c4c4c4">(from Munich, Germany)</font></h5>
						<p>“We really enjoyed the tour. Our guide Laura showed a lot of places she loves most to us. Especially the quiet back lanes with beautiful wall paintings we wouldn´t have seen without her. We talked a lot about daily business in Toronto, so we had the chance to get a read of real living in Toronto.”</p>
						<h5>Laura <font color="#c4c4c4">(Lokafyer in Toronto)</font></h5>
						<p>“I wanted to write you a short update about my tour with Lokafy this Saturday. It was actually a very fascinating experience. We all had a great time and I learned from the guests as much as they learned from me (I hope). I took them to St. Lawrence market, to Harbourfront, CN tower and to my work as we have an incredible view from the roof. They really appreciated that. Its something that they couldn’t do by themselves and its not like an ordinary tourist destination.”</p>
					</div>
				</div>
			</div>

			<div class="reviews-container-4">
				<div class="reviews-container-4-left">
					<div class="reviews-text-4">
						<br><br>
						<h5>Cara McLauchlin <font color="#c4c4c4">(from Detroit, USA)</font></h5>
						<p>“We enjoyed our tour very much. It was great to see a part of Toronto that none of us had been to before (The Distillery District). Our guide, Laura was very friendly and got along wonderfully with our group. She gave us lots of recommendations for local restaurants.”</p>
						<h5>Laura <font color="#c4c4c4">(Lokafyer in Toronto)</font></h5>
						<p>“First Lokafy meetup was a success!  They wanted to go to the distillery so I took them to the sake brewery and we did a tasting, most of their first time trying sake. We walked around, I told them a bit about the distillery and the spots I liked in there then we stopped for lunch at mill st brewery. By the time we were finished it was just past 4:30 so I sent them off to Soma chocolatier for dessert and with a list of recommendations for the rest of the weekend! They were lovely and it was so much fun!”</p>
					</div>
				</div>
				<div class="reviews-container-4-right">
					<div class="reviews-text-4-2">
						<br><br>
						<h5>Cara McLauchlin <font color="#c4c4c4">(from Detroit, USA)</font></h5>
						<p>“We enjoyed our tour very much. It was great to see a part of Toronto that none of us had been to before (The Distillery District). Our guide, Laura was very friendly and got along wonderfully with our group. She gave us lots of recommendations for local restaurants.”</p>
						<h5>Laura <font color="#c4c4c4">(Lokafyer in Toronto)</font></h5>
						<p>“First Lokafy meetup was a success!  They wanted to go to the distillery so I took them to the sake brewery and we did a tasting, most of their first time trying sake. We walked around, I told them a bit about the distillery and the spots I liked in there then we stopped for lunch at mill st brewery. By the time we were finished it was just past 4:30 so I sent them off to Soma chocolatier for dessert and with a list of recommendations for the rest of the weekend! They were lovely and it was so much fun!”</p>
					</div>
				</div>
			</div>

			<div class="reviews-container-5">
				<div class="reviews-container-5-left">
					<div class="reviews-text-5">
						<br><br>
						<h5>Lisa Andreozzi <font color="#c4c4c4">(from Orange County, USA)</font></h5>
						<p>“YES!!!! Ivana was the best!. I requested to see some of Paris’ non-tourist areas for food, shopping and fun and she delivered. Our group (two moms and two 17 yr old boys) throughly enjoyed her company, so much that we extented our 4-6 hour tour to 8 hours. We just did not want to part ways :) We peppered her with questions about different areas, Parisian lifestyle, food, work, schools, etc and she was very charming and informative. Having someone guide us around that lives in the area was the BEST part of our trip.”</p>
									
						<h5>Anne Maurer <font color="#c4c4c4">(from Folkestone, England)</font></h5>
						<p>“We are a family of three and we really enjoyed our tour with Lauren. Lauren was so friendly and personable and gave us lots of information about her city Toronto which she clearly loves. We learned such a lot on the tour. The only misfortune was that it was pouring with rain for much of that day but that didn’t deter Lauren or her enthusiasm. Lauren took us all over Chinatown and Kensington market where she knew a great little place for lunch. We had asked to see the graffiti alleys and Lauren made sure we did and they were so interesting. Because of the rain we decided to get a subway back at the end of the tour and Lauren came with us helping us through the somewhat confusing (to outsiders) token and ticket purchasing options! We liked Lauren a lot and if We could afford it we would have kept her for the whole week we were in Toronto! :) A big thank you Lauren!”</p>
					</div>
				</div>
				<div class="reviews-container-5-right">
					<div class="reviews-text-5">
						<br><br>
						<h5>Peggy Aycinena <font color="#c4c4c4">(from San Francisco, USA)</font></h5>
						<p>“The Lokafy tour was superb and just what our group of 4 needed, 2 early 30′s and 2 early 60′s. Maria met us promptly at our rental condo and was immediately responsive to our interests. She took us on an extensive 2-hour walking tour on a beautiful Saturday morning — St. Lawrence Market, the waterfront, the baseball stadium and CN needle plaza, plus the added highlight of seeing views out over the city from the rooftop garden of a commercial building. We ended at the train station meeting up with family coming in from Oshawa. Maria timed our tour so we were at the station right at the end of our 2-hour tour, which was great. It was really fun to be out and about in such a pedestrian friendly city with Maria as our guide!”<br>
						“We were delighted to learn that Maria has been in Toronto just 5 years, so Toronto is still interesting and fascinating to her. That’s always the best — touring around with a ‘local’ who still sees the city with fresh eyes. This whole tour was so much more interesting and personal than a packaged tour because of chatting with Maria about her background and how dynamic her life in Toronto has been since she arrived. It’s almost impossible to compare this tour with any kind of packaged tour!”</p>
									
						<h5>Maria <font color="#c4c4c4">(Lokafyer in Toronto)</font></h5>
						<p>“I wanted to write you a short update about my tour with Lokafy this Saturday. It was actually a very fascinating experience. We all had a great time and I learned from the guests as much as they learned from me (I hope). I took them to St. Lawrence market, to Harbourfront, CN tower and to my work as we have an incredible view from the roof. They really appreciated that. Its something that they couldn’t do by themselves and its not like an ordinary tourist destination.”</p>
					</div>
				</div>
			</div>
			
		</div>
	<!--		<div class="reviews-container-1">
				<div class="reviews-container-3-left"></div>
				<div class="reviews-container-3-right"></div>
			</div>
			<div class="reviews-container-2">
				<div class="reviews-container-4-left"></div>
				<div class="reviews-container-4-right"></div>
			</div>

		</div> -->
		
		<div class="clear"></div>	

		<div class="footer-background">	
	
			<div class="parallax-footer"></div>	
														
			<div class="footer-container">		
				<div class="twelve columns">
					<div class="footer-img">
						<img src="{% static "images/logos/logo-small-white.png"%}" alt="">
					</div>	
				</div>
				<div class="twelve columns">
					<div class="social-container">
						<a href="http://www.seetorontonow.com/listings/lokafy/" target="_blank"><img class="torontotourism" src="{% static "images/icon/torontotourism.png"%}"></a>
						<a href="http://www.seetorontonow.com/listings/lokafy/" target="_blank"><img class="torontotourism" src="{% static "images/icon/torontotourism-2.png"%}"></a>
						<img class="separation" src="{% static "images/icon/separation.png"%}">	
						<div class="social-footer">
							<ul class="list-social">
								<li class="icon-soc tipped" data-title="facebook"  data-tipper-options='{"direction":"top","follow":"true"}'>
									<a href="https://www.facebook.com/Lokafy.co" target="_blank">&#xf09a;</a>
								</li>
							</ul>

							<ul class="list-social">
								<li class="icon-soc tipped" data-title="twitter"  data-tipper-options='{"direction":"top","follow":"true"}'>
									<a href="https://twitter.com/lokafytravel" target="_blank">&#xf099;</a>
								</li>
							</ul>

							<ul class="list-social">
								<li class="icon-soc tipped" data-title="google+"  data-tipper-options='{"direction":"top","follow":"true"}'>
									<a href="https://plus.google.com/+Lokafy/videos" target="_blank">&#xf0d5;</a>
								</li>
							</ul>

							<ul class="list-social">
								<li class="icon-soc tipped" data-title="instagram"  data-tipper-options='{"direction":"top","follow":"true"}'>
									<a href="https://instagram.com/lokafy/" target="_blank">&#xf16d;</a>
								</li>
							</ul>

							<ul class="list-social">
								<li class="icon-soc tipped" data-title="e-mail: info@lokafy.com"  data-tipper-options='{"direction":"top","follow":"true"}'>
									<a href="mailto:info@lokafy.com" target="_blank">&#xf0e0;</a>
								</li>
							</ul>

							<ul class="list-social">
								<li class="icon-soc tipped" data-title="phone: 1-800-943-9145"  data-tipper-options='{"direction":"top","follow":"true"}'>
									<a href="tel:800-943-9145" target="_blank">&#xf095;</a>
								</li>
							</ul>								
						</div>
					</div>
					<div class="footer-copy-text">
						<p>© Lokafy 2015</p>
					</div>	
				</div>

			
			</div>
		</div>
		
	</main> <!-- .cd-main -->
	
	<div class="scroll-to-top"></div>	
		
	<!-- JAVASCRIPT
    ================================================== -->
<script type="text/javascript" src="{% static "js/jquery-2.1.1.js"%}"></script>
<script type="text/javascript" src="{% static "js/royal_preloader.min.js"%}"></script>
<script type="text/javascript">
(function($) { "use strict";
            Royal_Preloader.config({
                mode:           'text', // 'number', "text" or "logo"
                text:           'OUREA',
                timeout:        0,
                showInfo:       true,
                opacity:        1,
                background:     ['#FFFFFF']
            });
})(jQuery);
</script>
<script type="text/javascript" src="{% static "js/scroll.js"%}"></script>
<script type="text/javascript"> 
(function($) { "use strict";          
			jQuery(document).ready(function() {
				var offset = 350;
				var duration = 500;
				jQuery(window).scroll(function() {
					if (jQuery(this).scrollTop() > offset) {
						jQuery('.scroll-to-top').fadeIn(duration);
					} else {
						jQuery('.scroll-to-top').fadeOut(duration);
					}
				});
				
				jQuery('.scroll-to-top').click(function(event) {
					event.preventDefault();
					jQuery('html, body').animate({scrollTop: 0}, duration);
					return false;
				})
			});
})(jQuery);
</script>  
<script type="text/javascript" src="{% static "js/retina-1.1.0.min.js"%}"></script> 
<script type="text/javascript" src="{% static "js/jquery.easing.js"%}"></script>
<script type="text/javascript" src="{% static "js/classie.js"%}"></script>
<script type="text/javascript" src="{% static "js/cbpAnimatedHeader.min.js"%}"></script>
<script type="text/javascript" src="{% static "js/menu-classic.js"%}"></script> 
<script type="text/javascript" src="{% static "js/jquery.fs.tipper.min.js"%}"></script> 
<script type="text/javascript" src="{% static "js/owl.carousel.min.js"%}"></script>
<script type="text/javascript" src="{% static "js/jquery.parallax-1.1.3.js"%}"></script>
<script type="text/javascript" src="{% static "js/jquery.chaffle.min.js"%}"></script>
<script type="text/javascript">
(function($) { "use strict";
	$(document).ready(function() {
	  $('.chaffle').chaffle({
		speed: 10,
		time: 60
	  });
	}); 
})(jQuery);
</script>
<script type="text/javascript" src="{% static "js/jquery.fitvids.js"%}"></script>
<script type="text/javascript"> 
(function($) { "use strict"; 
	$(".container").fitVids();	
})(jQuery);
</script>
<script type="text/javascript"> 
(function($) { "use strict"; 
	$('.vimeo a,.youtube a').click(function (e) {
		e.preventDefault();
		var videoLink = $(this).attr('href');
		var classeV = $(this).parent();
		var PlaceV = $(this).parent();
		if ($(this).parent().hasClass('youtube')) {
			$(this).parent().wrapAll('<div class="video-wrapper">');
			$(PlaceV).html('<iframe frameborder="0" height="333" src="' + videoLink + '?autoplay=1&showinfo=0" title="YouTube video player" width="547"></iframe>');
		} else {
			$(this).parent().wrapAll('<div class="video-wrapper">');
			$(PlaceV).html('<iframe src="' + videoLink + '?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;color=16a085" width="500" height="281" frameborder="0"></iframe>');
		}
	});		
})(jQuery);
</script>	
<script type="text/javascript" src="{% static "js/jquery.counterup.min.js"%}"></script>
<script type="text/javascript" src="{% static "js/waypoints.min.js"%}"></script>
<script type="text/javascript" src="{% static "js/visible.min.js"%}"></script>
<script type="text/javascript" src="{% static "js/pro-bars.js"%}"></script>
<script type="text/javascript" src="{% static "js/smk-accordion.js"%}"></script>
<script type="text/javascript" src="{% static "js/custom-features.js"%}"></script>  
<!-- End Document
================================================== -->
</body>
</html>
