
<p>Name: {{first_name}} {{last_name}}</p>
<p>Email: {{email}}</p>
<p>Phone: {{mobile_no}}</p>
<br>
<p>Booking Details:</p>
<p>City: {{destination}}</p>
<p>Date: {{date}}</p>
<p>Time of day: {{time_of_day}}</p>
<p>Duration: {{duration}}</p>
<p>Group size: {{group_size}}</p>
<p>Group type: {{group_type}}</p>

<p>Requested Lokafyers:</p>

<p>1. {{first_lokafyer}} - lokafy.com/admin/api/lokafyer/{{first_id}}</p>
<p>2. {{second_lokafyer}} - lokafy.com/admin/api/lokafyer/{{second_id}}</p>
<p>3. {{third_lokafyer}} - lokafy.com/admin/api/lokafyer/{{third_id}}</p>

<p>How did client hear about lokafy:</p>
<p>{{source}}</p>

<p>The client would like the lokafyers to show:</p>
<p>{{whattoshow}}</p>

<p>Additional info:</p>
<p>{{about}}</p>

<p>Referral code: {{referral}}</p>